[2013-08-27 15:52] andrewlow opened #1 "Stack arguments wrong for <JS Function InstantiateFunction> - trace output differs on PPC"
Found this while trying to resolve NPM issues.

Build node on Intel & PPC the same way
#### PPC

./configure --debug --dest-cpu=ppc; make -j20
#### Intel

./configure --debug --dest-cpu=ia32; make -j7

Now run the following on both.

./node --trace deps/npm/bin/npm-cli.js install url | head -2
#### Intel output

`$ ./node --trace deps/npm/bin/npm-cli.js install url | head -2
   1: Instantiate+59(t

[2013-08-29 20:04] andrewlow opened #2 "Host/target confusion openssl GYP configuration file"
In the modifications to support PPC we have a check in the openssl file to see if the target == ppc and if so, we assume it's a big endian platform.

This is wrong if you want to build the PPC simulated version on an Intel (little endian) machine. As openssl is native code, it should be compiled in a mode that works for the host.

[2013-09-03 19:13] #2 closed, assigned to nobody

[2013-09-09 13:35] tunniclm opened #3 "simple/test-net-listen-fd0 fails when run by Jenkins"
The test **passes when run manually**, but **fails under Jenkins** with the following stack:

[code]

This seems to be related to the test's use of file descriptor 0 (stdin) and the expectation of a particular error code being hit; under Jenkins a slightly different error code than expected is observed in the failing case.

The failure has been observed on RHEL 6.3 on Intel (32-bit and  64-bit mod

[2013-09-17 09:12] AlexMarlo opened #4 "Have you any simple way to crosscompile node for embeded ppc system?"

[2013-09-18 20:31] #4 closed, assigned to nobody

[2013-09-30 12:10] andy-taylor opened #6 "NPM test npm-test-peer-deps fails due to testcase issue"
A change to the path of a file on github required by the npm-test-peer-deps package breaks that test.

+npm install packages/npm-test-peer-deps
 2> npm ERR! fetch failed https://raw.github.com/gist/3971128/3f6aa37b4fa1186c2f47da9b77dcc4ec496e3483/index.js
 2> npm ERR! Error: 404 Not Found

Issue against NPM:
https://github.com/isaacs/npm/issues/3897

A fix is available to pull as it is not yet in

[2013-09-30 12:45] #6 closed, assigned to andy-taylor

[2013-09-30 13:10] andy-taylor opened #7 "NPM tests on Windows can't find the Node executable"
In deps/npm/lib/utils/lifecycle.js is states:
windows calls it's path "Path" usually, but this is not guaranteed.

That pieces of javascript makes allowances when setting the PATH variable, specifically it looks at the way it is capitalised in the environment, and then uses that capitalisation.

We should make a similar modification to NPM's run.js

[2013-09-30 13:13] #7 closed, assigned to andy-taylor

[2013-10-29 01:41] #3 closed, assigned to nobody

[2013-11-12 04:09] jpillora opened #8 "Compiling Instructions"
Hi Andrew,
I'm currently compiling v8ppc on an old debian PPC. For this node fork, do I just follow the instructions on the README? I have a feeling I need to incorporate the v8ppc build somehow?
Thanks
Jaime

[2013-11-12 14:05] #1 closed, assigned to nobody

[2013-11-15 04:35] #8 closed, assigned to nobody

[2013-11-27 16:56] alepesoli opened #9 "Illegal instruction executing node on a p1010rdb board with a e500v2"
I'm trying to compile and use node on a Freescale p1010rdb development board with a e500v2.  I have successfully compiled  version 0.10.21-release-ppc without any problems, but i have an "illegal instruction" error when i try to execute node.

Tracing the error on gdb gives me the following output:

(gdb) x/20i $pc-32
0x48136b0c: .long 0xc8e40003
0x48136b10: srawi r10,r3,1
0x48136b14: addi r1,r1,-

[2013-11-28 14:14] #9 closed, assigned to nobody

[2013-12-17 15:46] andrewlow opened #10 "AIX version crashing on test/simple/test-child-process-fork-dgram.js"
[code]

[2014-01-20 05:33] gireeshpunathil opened #11 "AIX version throws assertion failure in simple test: test-executable-path.js"
Error:
 assert.js:92
 throw new assert.AssertionError({
 ^
 AssertionError: false == true
 at Object.<anonymous> (/scratch/jenkins/workspace/github-node-aix-ppc-32-test/test/simple/test-executable-path.js:52:8)
 at Module._compile (module.js:456:26)
 at Object.Module._extensions..js (module.js:474:10)
 at Module.load (module.js:356:32)
 at Function.Module._load (module.js:312:12)
 at Function.Modu

[2014-01-20 05:43] gireeshpunathil opened #12 "AIX version throws assertion failure in simple test: test-child-process-detached.js"
Error:

 assert.js:92
 throw new assert.AssertionError({
 ^
 AssertionError: false == true
 at process.<anonymous> (/scratch/jenkins/workspace/github-node-aix-ppc-32-test/test/simple/test-child-process-detached.js:37:3)
 at process.EventEmitter.emit (events.js:117:20)

Steps to reproduce:

./node test/simple/test-child-process-detached.js

[2014-01-20 15:33] gireeshpunathil opened #13 "AIX version dumps core in a number of client-server based simple tests such as test-http.js"
Error:
Assertion failed: __EX, file  ../src/cares_wrap.cc, line 818

Steps to reproduce:
./node test/simple/test-http.js

[2014-01-29 13:05] niutech opened #14 "Node.js Mac OS X 10.5 PPC binaries"
Could you please provide binaries of node.js for Mac OS X 10.5 PPC or at least provide a guide on how to easily build it? I have a PowerBook G4 and Xcode 3.14. Thanks!

[2014-02-07 13:55] gireeshpunathil opened #15 "Initial break-point is lost in debugger late attach scenarios"
Two scenarios:
1. inline debugger attach:

actual output:

bash-4.2$ ./node debug --debug-brk a.js
< debugger listening on port 5858
connecting... ok
debug>

expected output:

bash-4.2$ ./node debug --debug-brk a.js
< debugger listening on port 5858
connecting... ok
break in a.js:1
  1 debugger;
  2 var i = 10;
  3
debug>
1. late attach:

terminal #1:

actual output:
bash-4.2$ ./node --debug-brk a

[2014-02-07 14:35] gireeshpunathil opened #16 "AIX version fails assertion in fs watch related test cases"
Three test cases fail with the exceptions:

test-fs-readfile-error.js
AssertionError: null == true
    at /home/gireesh/aix/node.nnew/node/test/simple/test-fs-readfile-error.js:34:5
    at ChildProcess.exithandler (child_process.js:635:7)
    at ChildProcess.EventEmitter.emit (events.js:98:17)
    at maybeClose (child_process.js:735:16)
    at Socket.<anonymous> (child_process.js:948:11)
    at So

[2014-02-07 14:40] #11 closed, assigned to nobody

[2014-02-07 14:42] #13 closed, assigned to nobody

[2014-02-10 10:57] #12 closed, assigned to nobody

[2014-02-10 10:58] #15 closed, assigned to nobody

[2014-02-11 15:21] gireeshpunathil opened #17 "AIX version fails with assertion: absence of abort message when node is force aborted."
The test case fail with the exception:

bash-4.2$ ./node test/simple/test-abort-fatal-error.js

assert.js:92
  throw new assert.AssertionError({
        ^
AssertionError: null == true
    at /home/gireesh/aix/node/test/simple/test-abort-fatal-error.js:38:3
    at ChildProcess.exithandler (child_process.js:641:7)
    at ChildProcess.EventEmitter.emit (events.js:98:17)
    at maybeClose (child_proce

[2014-02-11 15:35] gireeshpunathil opened #18 "AIX version fails with assertion: unexpected response received from server."
The test case fail with the exception:

bash-4.2$ ./node test/simple/test-http-upgrade-server.js

assert.js:92
  throw new assert.AssertionError({
        ^
AssertionError: "HTTP/1.1 200" == "0\r\n\r\n"
    at Socket.<anonymous> (/home/gireesh/aix/node/test/simple/test-http-upgrade-server.js:160:12)
    at Socket.EventEmitter.emit (events.js:95:17)
    at Socket.<anonymous> (_stream_readable.js:74

[2014-02-12 06:06] gireeshpunathil opened #19 "AIX version fails with EINVAL when invoking setMulticastTTL"
Simple test test/simple/test-dgram-multicast-setTTL.js fails with this call stack:

dgram.js:372
    throw errnoException(process._errno, 'setMulticastTTL');
          ^
Error: setMulticastTTL EINVAL
    at errnoException (dgram.js:457:11)
    at Socket.setMulticastTTL (dgram.js:372:11)
    at Socket.<anonymous> (/home/gireesh/aix/node/test/simple/test-dgram-multicast-setTTL.js:30:10)
    at Socke

[2014-02-12 07:49] gireeshpunathil opened #20 "AIX version fails with timeout in automated live debugging scenario"
The test test/simple/test-debugger-repl-break-in-module.js fails with the below exception

dying badly buffer="debug> debug> "
child is closed
UncaughtException [Error: Timeout. Expected: /break in .*[\\\/]main\.js:4/] Error: Timeout. Expected: /break in .*[\\\/]main\.js:4/
    at ChildProcess.<anonymous> (/home/gireesh/aix/node/test/simple/helper-debugger-repl.js:89:13)
    at ChildProcess.EventE

[2014-02-12 14:39] gireeshpunathil opened #21 "AIX version fails with assertion on zombie cluster workers after master dies"
Two test cases fail with similar errors:

test-cluster-master-error.js

bash-4.2$ ./node test/simple/test-cluster-master-error.js

assert.js:92
  throw new assert.AssertionError({
        ^
AssertionError: The workers did not die after an error in the master
    at process.<anonymous> (/home/gireesh/aix/node/test/simple/test-cluster-master-error.js:137:12)
    at process.g (events.js:180:16)
    a

[2014-02-13 14:02] gireeshpunathil opened #22 "AIX version fails due to many http requests being timed out."
Simple test test/simple/test-http-client-timeout-agent.js fails with this call stack:

assert.js:92
  throw new assert.AssertionError({
        ^
AssertionError: timeout on http request called too much
    at process.<anonymous> (/home/gireesh/aix/node/test/simple/test-http-client-timeout-agent.js:95:10)
    at process.EventEmitter.emit (events.js:117:20)

[2014-02-13 15:13] gireeshpunathil opened #23 "process._debugProcess kills the V8 debugger"
AIX version fails with ECONNRESET or EPIPE or ECONNREFUSED
Simple test test/simple/test-debugger-client.js fails with one of the following stack:
_____________________________________________________
got stderr data "debugger listening on port 13683\n"

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: read ECONNRESET
    at errnoException (net.js:901:11)
    at TCP.

[2014-02-13 15:48] #19 closed, assigned to nobody

[2014-02-27 06:49] #17 closed, assigned to nobody

[2014-02-27 06:57] gireeshpunathil opened #24 "AIX version fails with out of memory"
Simple test case test/simple/test-crypto-random.js fails thus:
# FATAL ERROR: node::RandomBytesRequest() Out of Memory

[2014-03-03 11:00] gireeshpunathil opened #25 "AIX version Aborts with core dump"
The simple test case test-vm-timeout.js asserts in deps/uv/src/unix/core.c

bash-4.2$ ./node test/simple/test-vm-timeout.js
IOT/Abort trap (core dumped)

Failing stack found in deubg mode is:

0  0xd050adf4 in pthread_kill () from /usr/lib/libpthreads.a(shr_xpg5.o)
1  0xd050a24c in _p_raise () from /usr/lib/libpthreads.a(shr_xpg5.o)
2  0xd0137284 in raise () from /usr/lib/libc.a(shr.o)
3  0xd01c0d

[2014-03-12 10:21] tunniclm opened #26 "AIX test-net-settimeout intermittent failure"
Failure stack:

[code]

[2014-03-14 18:42] richardlau opened #27 "bad option: --max-stack-size"
-bash-4.1$ ./node --max-stack-size=1000
./node: bad option: --max-stack-size=1000
-bash-4.1$ ./node --help
Usage: node [options] [ -e script | script.js ] [arguments]
       node debug script.js [arguments]

Options:
  -v, --version        print node's version
  -e, --eval script    evaluate script
  -p, --print          evaluate script and print result
  -i, --interactive    always enter the REPL

[2014-03-25 19:33] #27 closed, assigned to nobody

[2014-04-02 06:57] xhappy opened #28 "nodejs(version 0.10.25) runs on AIX OS: TypeError: Object has no method 'isSymbolicLink'"
Compiled successfully in AIX machine using IBM XL C/C++ compiler. and the command "node -v“ run successfully.

but an error happened when run an simple test case, the details is as following.
content of script example print.js:
console.log('hello world');
using the command: node print.js, the error messages are as following:

fs.js:1267
if (!stat.isSymbolicLink()) {
^
TypeError: Object has no meth

[2014-04-09 14:13] tunniclm opened #29 "Crash running test-vm-infinite-recursion.js on AIX and Linux PPC"
The test crashes when executed with --stack-size=128 when it should have thrown and handled a stack overflow error.

The failing output is:
FATAL ERROR: CALL_AND_RETRY Allocation failed - process out of memory

This is usually followed by a "core dumped" message.

[2014-04-10 21:14] jussikan opened #30 "Illegal instruction with a cross-compiled node.js binary on a Freescale Qoriq CPU"
I've compiled node 0.11.12-release-ppc on Ubuntu 12.04 on Vagrant on OS X. The target device is a Synology DS413 (NAS). I used the proper cross-compilation toolchain by Synology.
Compilation succeeded only without a snapshot.

The illegal instruction (or SIGILL) occurs when no arguments are given, but never if given -v or -h. I have not gone through all possible CLI argument combinations.

With gd

[2014-04-11 15:34] #10 closed, assigned to nobody

[2014-04-11 15:39] #25 closed, assigned to nobody

[2014-04-16 04:28] #24 closed, assigned to nobody

[2014-05-02 07:42] andreasalin opened #31 ".configure: NameError: global name 'WindowsError' is not defined"
I'm using Python 2.6.2 on an AIX 6.1 system. Since my system does not have the shared libraries libstdc++.a(libstdc++.so.6) and libgcc_s.a(shr.o) installed I'm trying to compile node.js v0.10.26-release.

Unfortunately the configuration script does not work out of the box for me. Error message:

Traceback (most recent call last):
  File "./configure", line 673, in <module>
    configure_node(outpu

[2014-05-02 08:02] andreasalin opened #32 "Compilation problem on AIX 6.1: sys/ahafs_evProds.h: No such file or directory"
I would be very happy if someone has a solution for my compilation problem. Thank you in advance.

My configuration:
gcc version 4.4.5
GNU Make 3.8.2
AIX 6.1

While compiling node-0.10.26-release-ppc I get the following error lines:
////////////////////////////////
../deps/uv/src/unix/aix.c:59:31: warning: sys/ahafs_evProds.h: No such file or directory
../deps/uv/src/unix/aix.c: In function 'setup

[2014-05-02 12:54] #31 closed, assigned to nobody

[2014-05-08 13:43] gireeshpunathil opened #33 "gyp-flock-tool fails in AIX 7.1"
When building native addons for npm modules, the build script fails in the following manner:

  SOLINK_MODULE(target) Release/obj.target/bson.node
Traceback (most recent call last):
  File "./gyp-flock-tool", line 50, in <module>
    sys.exit(main(sys.argv[1:]))
  File "./gyp-flock-tool", line 19, in main
    executor.Dispatch(args)
  File "./gyp-flock-tool", line 30, in Dispatch
    getattr(self,

[2014-05-21 06:50] #33 closed, assigned to nobody

[2014-05-30 15:48] #29 closed, assigned to tunniclm

[2014-05-30 16:09] andrewlow opened #34 "AIX - os.release() returns only minor version of OS"
`os.release();` will return '1' on AIX 6.1

On Linux systems we get back the same answer as `uname -r`

The documentation http://nodejs.org/api/os.html#os_os_release claims to run the operating system release. (it appears to be open to interpretation)

[2014-06-22 15:20] marcofranssen opened #35 "Compiling at Synology DS413 (PPC) fails for v0.10.29-release-ppc branch"
Hi when I try to compile on my Synology DS413 which has a powerpc architecure I get following output. The output is the same when I try to compile the regular v0.10.29-release from the joyent repository.

Any idea how I can fix this?

I hope you can help me out.

[code]

[2014-07-14 19:50] interfect opened #36 "Compilation fails on OS X 10.5 PPC"
Building (in the v8ppc dependency) fails due to the absence of an "elf.h". It appears that this file is expected to exist on all non-AIX systems, but OS X 10.5 does not seem to have it by default.

Is there something I have forgotten to install?

Here is the tail end of my build:

[code]

[2014-09-03 17:30] mikemacisaac opened #37 "Compile error on building node.js on s390x"
Nice work on v8 and node.js. Thanks!  But I ran into a compile error on node (RHEL 6.5 zLinux system). Maybe I'm building it wrong (not sure we want '-m31')?

1) Get the v8 javascript for System z
mkdir ~/src
cd ~/src
git clone https://github.com/andrewlow/v8z.git
...
2) Build it:
cd v8z/
make dependencies; make s390x
...
3) Get the node.js for system z:
git clone https://github.com/andrewlow/node

[2014-09-04 14:28] #37 closed, assigned to nobody

[2014-09-09 18:44] #36 closed, assigned to nobody

[2014-11-02 21:22] dmacvicar opened #38 "Build fails for s390x"
However, I don't see how it could work. There is a #ifdef that does not include s390x, and the else case is an #error

[code]

Full log of the build:

[code]

[2014-11-03 21:58] #38 closed, assigned to nobody

[2014-11-11 10:49] ianhayden opened #39 "Compilation error on AIX6.1"
Hi,

I'm trying to build 0.11.13.ppc on an AIX6.1 box, but get link errors.

The machine & compiler spec:

bash-4.3$ uname -a
AIX hhdtrlaix08 1 6 00F905954C00

bash-4.3$ oslevel -s
6100-07-09-1341

bash-4.3$ make -v
GNU Make 3.82
Built for powerpc-ibm-aix5.3.0.0

bash-4.3$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/freeware/libexec/gcc/powerpc-ibm-aix6.1.0.0/4.6.1/lto-wr

[2014-11-18 13:09] #39 closed, assigned to nobody

[2015-07-17 17:16] dpasupathi opened #41 "node crashes with following message "Extension or internal compilation error.""
Hi,

I am trying to run node on my e500 ppc. I used -msoft-float option to work around the Illegal Instruction set issue. But now i am hitting the following crash.  Appreciate if someone can help me on what is going wrong.

gdb) bt
#0  0x1038007c in v8::Context::Enter() ()
#1  0x1086e8e8 in node::CreateEnvironment(v8::Isolate*, uv_loop_s*, v8::Handle<v8::Context>, int, char const* const*, int, cha

[2015-07-17 17:26] andrewlow commented on #41
Same problem as https://github.com/andrewlow/node/issues/35

This is really a V8 issue

You might want to participate here https://github.com/andrewlow/v8ppc/issues/119
or read through https://github.com/andrewlow/v8ppc/issues/99

Ultimately supporting the freescale CPUs (such as the e500) is going to require someone in the community to step up and work through the problems and send pull requests

[2015-08-05 18:21] dpasupathi commented on #41
Hi Andrew,

In the above crash i could see the segfault happening at
=> 0x1038007c <_ZN2v87Context5EnterEv+56>: lwz r9,0(r3)

I really doubt that this is not an missing instruction issue/illegal instruction issue with respect to e500. Can you please shed me more light on what exactly the problem in the above crash??

[2015-08-05 18:27] andrewlow commented on #41
@dpasupathi I'm not sure what you're asking here.

We know that there are instructions used in the current V8 on PPC implementation that are not supported by the e500 chips.

If you're making the assumption that the crash report showing ``` lwz r9,0(r3)``` is an indicator that there is a problem on the e500 with the lwz instructions, then you're simply making an incorrect assumption.

Very likely

[2015-08-05 18:47] dpasupathi commented on #41
Andrew,

To be clear I am  running the nodejs on e500mc (not e500v2). As mentioned in the other thread (https://github.com/andrewlow/v8ppc/issues/119) e500mc has native floating point support and as per the thread the only instruction set that's missing would be fsqrt.

In this specific crash I am not sure how r3 value is bogus, since I am not completely aware of v8 code it is hard for me to under

[2015-12-17 09:51] mangeshPSL commented on #14
@andrewlow  hi I have some doubt regarding nodejs in ppc

[2015-12-17 14:25] andrewlow commented on #14
@mangeshPSL could you provide more detail on your doubts?

[2015-12-18 05:46] mangeshPSL commented on #14
@andrewlow  I am trying nodejs version v0.10.40 on ppc64le could you please tell me some links actually I am working on atom.io to be ported on ppc64le but it requires nodejs v0.10.40 and I have v0.10.25 . which atom.io internally tries to updated through following link
http://nodejs.org/dist/v0.10.40/node-v0.10.40-linux-ppc64.tar.gz
so could you help me out with some usefull stuff .

[2015-12-18 16:12] andrewlow commented on #14
Well, you probably want to look here https://developer.ibm.com/node/sdk/#v11 -- it appears the most current version there is 0.10.41

[2015-12-18 22:26] mhdawson commented on #41
Give the age of this I'm going to close it. If you disagree please let me know and I'll re-open

[2015-12-18 22:26] #41 closed

[2015-12-18 22:27] mhdawson commented on #35
Given the age on this I'm going to close.  If you disagree please let me know and I'll re-open

[2015-12-18 22:27] #35 closed

[2015-12-21 05:04] mangeshPSL commented on #14
thanks for the stuff but @andrewlow its Sdk kit , however I want to work on command base i.e through putty(SSH) . is there any binary for nodejs version v0.10.40

[2016-01-04 08:29] gireeshpunathil commented on #23
Issue is resolved, closing.

[2016-01-04 08:29] #23 closed

[2016-01-04 09:20] gireeshpunathil commented on #22
Closing this issue now as this does not seem to be happening now. If this is found to be a problem, will re-open

[2016-01-04 09:20] #22 closed

[2016-01-04 09:25] gireeshpunathil commented on #21
Issue resolved through a change in the test case: https://github.com/nodejs/node/pull/2891

[2016-01-04 09:25] #21 closed

[2016-01-04 09:30] gireeshpunathil commented on #20
Issue resolved through a change in the test case through https://github.com/nodejs/node/commit/e12e72eb58c68b82f5bbd89e094cf7fb7b7e00c8

[2016-01-04 09:30] #20 closed

[2016-01-04 09:33] gireeshpunathil commented on #16
Basic fs support is in place through AHAFS based solution. Closing this issue

[2016-01-04 09:33] #16 closed

[2016-01-04 09:35] gireeshpunathil commented on #18
Closing this issue as this is no more a concern. Will re-open if this issue surfaces again.

[2016-01-04 09:35] #18 closed

[2016-01-07 16:27] matths opened #55 "node.js on a WD My Book Live Duo"
Hi Andrew,
it's not an issue, but more of a question. I have this My Book Live Duo (Software Raid) running a Debian Linux. I would like to know, what steps I would need to do, to install / compile node.js
I think, it's also a PowerPC architecture wise as /proc/cpuinfo states the following:

[code]

I am not that familiar with cross-compiling, so I guess I could compile stuff directly on the device

[2016-01-07 22:10] jscottandersonthe1 opened #56 "Node ABI Compatibility With Older Linux"
I've got a primitive kernel to which I am handcuffed, linux 2.6.21 running on a ppc603 core.  I've built v8 and can run the d8 shell on the target system, but now that I've cross-compiled node, it is looking for the standard c library and does not find GLIBC_2.7.  I installed a newer library in an alternative location, but the OS ABI is invalid.  I think what I need to do is build node with the li

[2016-01-08 19:50] andrewlow commented on #55
This is likely to hit the same problems we've seen with the freescale processors https://github.com/andrewlow/v8ppc/issues/99 - I'm only guessing based on it being a NAS.

1st step would be to get v8 working on the machine 1st, so head over there and see if you can get that going.

[2016-01-08 19:53] andrewlow commented on #56
Weird, if you've got d8 working - then you're certainly able to get the hard part working.

It's possible you've gotten tripped up with the integration of your changes with the node build system? Unfortunately I don' think there is enough information for me to make a good guess as to your exact problem.

[2016-01-08 21:07] jscottandersonthe1 commented on #56
I'm thinking it's my relative ignorance of library dependencies.  I built both images using my home built tool chain.  It seems that d8 does not need anything that is not provided by my primitive libraries whereas node does.  Here's what ldd reports for node and for d8:

       root@10.113.131.73:~# ldd -d -r -v node
       ./node: /lib/libc.so.6: version `GLIBC_2.7' not found (required by ./node)

[2016-01-11 15:04] andrewlow commented on #56
Node is a different beast than V8 in terms of how it's built.

Node also includes libuv - which helps abstract out a lot of OS stuff, the dependency might be coming from it. Similarly it optionally (but by default) includes openssl which may be pulling in things.

You commented that you had 'statically linked' in the libraries to V8 (d8), but it really doesn't look like that's is true from the out

[2016-01-11 17:06] jscottandersonthe1 commented on #56
@andrewlow  Thanks Andrew.  ssl is where that symbol comes in.  My only problem now is that the cross build complains that it can't find a necessary header file when I compile after configuring using --without-ssl.

       In file included from ../src/node.cc:85:0:
       ../src/node_crypto.h:30:25: fatal error: openssl/ssl.h: No such file or directory
        #include <openssl/ssl.h>

I had to re

[2016-01-11 17:09] jscottandersonthe1 commented on #56
Merge and change summary so far:

       #	modified:   Makefile
       #	modified:   common.gypi
       #	modified:   configure
       #	modified:   deps/v8ppc/src/ppc/assembler-ppc.cc
       #	modified:   deps/v8ppc/src/ppc/code-stubs-ppc.cc
       #	modified:   deps/v8ppc/src/ppc/code-stubs-ppc.h
       #	modified:   deps/v8ppc/src/ppc/constants-ppc.h
       #	modified:   deps/v8ppc/src/ppc/lith

[2016-01-11 17:13] jscottandersonthe1 commented on #56
Limited tools for platform.  This is my offline gdb output:

       Core was generated by `./node'.
       Program terminated with signal 4, Illegal instruction.
       #0  0x33f35bac in ?? ()

[2016-01-11 18:43] jscottandersonthe1 commented on #56
Another question.  Here is the configure that I execute before cross-compiling:

       ./configure --without-snapshot --without-ssl --without-ssl2 --without-ssl3 --dest-cpu=ppc

I also went in and hard-coded byte order to "big" in the configure script.  Here is the result:
[config.gypi.txt](https://github.com/andrewlow/node/files/86191/config.gypi.txt)

I cannot see where that illegal instruction

[2016-01-11 19:47] andrewlow commented on #56
I'd guess that the illegal instruction is some code that v8 has generated by compiling javascript code..

[2016-01-11 21:40] jscottandersonthe1 commented on #56
Not clear on that issue.

       root@10.113.131.73:~# ./d8
       V8 version 3.14.5 (candidate) [console: dumb]
       d8> Math.sqrt(0.01);
       0.1
       d8> quit();
       root@10.113.131.73:~# ./node
       Illegal instruction (core dumped)

This is what I'd see with d8 before I built the g4compat branch.  I have to presume at this point that my merge missed something.  It's just I can't se

[2016-01-11 23:57] andrewlow commented on #56
I'm a bit confused.

You've got evidence you can run d8 on the target hardware. This is good.

So things changed? You should be able to take the 'working' V8 code that built d8, and bulk copy it over into the Node build -- and then make that work (there may be a little fiddling to get the build scripts to work)

If you had 'merge' problems, you're probably only a diff or two away from discovering

[2016-01-12 02:33] jscottandersonthe1 commented on #56
Before I "discovered" the g4compat branch of v8ppc, I was getting core dumps on illegal instructions.  I was able to find the offending instructions and comment them out, but that was obviously not a solution.  When I asked about substitutes, tunniclm (Mike) pointed me to a solution he'd already put together, the magical g4compat branch.

I thought I'd get really clever and compile v8 (g4compat) a

[2016-01-12 14:26] andrewlow commented on #56
Hmm, well past me was probably right. It's been a while since I was splunking in this code but it is possible you also took something out of context. The node source tree does have a copy of v8 inside of it.

I agree you're close -- but _something_ isn't quite right yet. Keep at it.

[2016-01-13 21:32] jscottandersonthe1 commented on #56
Well, I can report that I've got node running on my system and the only issue in migrating the g4compat branch of v8ppc to my dependencies was the CpuFeatures::Probe which was not looking for ppc603.  All I had to do was add that test and the 64-bit instructions are no longer encountered.  Thanks for all your hard work here.  Now I can really get myself into some trouble.  ;-)

[2016-01-14 15:13] andrewlow commented on #56
Glad you got it working - is this captured in a fork somewhere? It'd be great to link it here in case others want to benefit from the work you've done.

[2016-01-14 15:44] jscottandersonthe1 commented on #56
I'm in the process of figuring out how to do that being a complete newbie to git.

    On Thursday, January 14, 2016 10:13 AM, Andrew Low <notifications@github.com> wrote:

 Glad you got it working - is this captured in a fork somewhere? It'd be great to link it here in case others want to benefit from the work you've done.—
Reply to this email directly or view it on GitHub.

[2016-01-20 15:26] jscottandersonthe1 commented on #56
One more update in case anyone is interested.  My platform is an MPC8378E processor (e300c4 core) running a 2.6.21 kernel.  As mentioned before, it was mostly a matter of finding the right v8 branch (g4compat) and merge that in to the deps/v8ppc directory to get a running build.  I also had to add a check for ppc603, but I was still stuck on a dependency introduced by deps/openssl

       symbol _

[2016-01-20 17:38] andrewlow commented on #56
I'd simply "fork" this github repo - which will create a git repo that is under your github user.

Best to pick the closest branch from this repo that matches what you want to build (node version, etc)

Then apply the same set of changes you used to succeed, and commit them to your repo.

Update the Readme.md to indicate the build environment etc - so that others finding the repo have a hope of re

[2016-01-21 20:44] jscottandersonthe1 commented on #56
I've forked from 10.38-release-ppc.  Repository is at https://github.com/jscottandersonthe1/node.git

 I hope this can be useful to anyone trying to solve a similar problem.

[2016-01-22 15:03] #56 closed

[2016-01-22 15:05] jscottandersonthe1 commented on #56
Closing because I consider the ABI issue solved with the changes detailed in the forked repository.

[2016-01-22 19:01] andrewlow commented on #56
:+1: thanks @jscottandersonthe1

[2016-03-24 16:53] sxa555 opened #57 "Imminent transfer of this repository within github"
This repository was originally set up by Andrew Low to house a fork of V8 and Node.js with additional changes to build and run on IBM platforms. Eventually this became an official IBM project to maintain ports of Node.js to IBM platforms (https://developer.ibm.com/node/sdk/). Andrew has not been working full time on these ports for over a year but the rest of the team has continued to use this rep

[2016-03-28 12:38] andrewlow commented on #57
It's true - I've been working on other stuff but am proud of the team (and community) that have carried this work forward.

[2016-03-29 15:26] xnox commented on #57
+1

[2016-04-02 19:17] sxa555 commented on #57
Thanks @andrewlow for all your work kicking off the project - it's been a great success. The current plan is to move the repositories on Monday.

[2016-04-05 11:10] sxa555 commented on #57
MIgration has been completed.

[2016-04-05 11:10] #57 closed

[2016-08-12 07:49] zzzlodey opened #65 "Node.js “Illegal instruction” on PowerPC 440EP"
I can't run node.js on PowerPC 440EP, I get only error "Illegal instruction".

**Hardware info:**

    cat /proc/cpuinfo
    processor       : 0
    cpu             : 440EP Rev. C
    clock           : 533.333332MHz
    revision        : 24.212 (pvr 4222 18d4)
    bogomips        : 1066.66
    timebase        : 533333332
    platform        : CPU440EP
    model           : cpu440
    Memory

[2016-08-12 10:15] zzzlodey commented on #65
Can I run node.js on ppc32 ?

[2016-08-12 11:49] sxa555 commented on #65
Although we don't build it on PPC32 I think it still works if you build it yourself. However your issue is more likely to be that the V8 is built with instructions that require power5+ so it won't support anything that old unfortunately.

[2016-08-12 12:22] zzzlodey commented on #65
So... needed power5+ instructions isn't supported by PowerPC 440ep or PowerPC e300c3. Do I understant you correctly?

[2016-08-12 12:56] mhdawson commented on #65
Believe the issue will be that your processor does not support the required instructions.  See https://github.com/ibmruntimes/v8ppc/issues/100 for more details.

[2016-08-12 13:00] sxa555 commented on #65
@zzzlodey I believe so. While I'm not an expert on that generation of chips, from looking around the e300 seems to be a modified PowerPC603e core, and the 440ep is also based on the older PowerPC cores, so won't have the required POWER5+ instructions available.

[2016-08-12 13:08] zzzlodey commented on #65
@sxa555 @mhdawson this is very sad news :-(

[2016-08-15 21:24] andrewlow commented on #65
Yes - simulation mode will work --- but it will be very very slow.

This issue should be closed (but I'll leave that up to @mhdawson). It is not a Node.js issue - but a problem in the v8 dependency. There are already a number of open issues documenting the problem AND paths to a solution.

It is possible to enhance the code to support older / variations of the PowerPC specification, but so far no

[2016-08-16 04:03] zzzlodey commented on #65
@andrewlow Thanks Andrew! I'm going to try simulation mode...

[2016-08-29 03:40] Antic5 opened #67 "Would this ever run on a PPC e500 chip?"
The reason I ask is there at a ton of us left out in the cold on Synology boxes...

Freescale QorIQ  to be exact.

https://global.download.synology.com/download/Document/DataSheet/DiskStation/13-year/DS213+/Synology_DS213+_Data_Sheet_enu.pdf

[2016-08-29 13:06] mhdawson commented on #65
Closing, please re-open if you feel it should still be open.

[2016-08-29 13:06] #65 closed

[2016-08-29 13:10] mhdawson commented on #67
See https://github.com/ibmruntimes/node/issues/9 and related issues. It all comes down to whether somebody has the skills/time to contribute support for the required instructions to the v8 PPC port.

[2016-08-29 16:45] Antic5 commented on #67
Makes sense, thanks for chiming in here!

On Mon, Aug 29, 2016 at 6:10 AM, Michael Dawson <notifications@github.com>
wrote:

[2016-08-29 21:32] mhdawson commented on #67
Going to close, please re-open if you disagree.

[2016-08-29 21:32] #67 closed

[2016-09-28 23:38] richardlau opened #68 "Port the two V8 commits in Node.js v0.10.47 to deps/v8ppc"
v0.10.47 contained two V8 commits that were ported to `deps/v8z` in the `v0.10-ppc` branch. These should also be ported to `deps/v8ppc` for the Power platforms.

CC @BethGriggs @sxa555

[2016-09-29 09:02] BethGriggs commented on #68
Do you mean these two commits?
https://github.com/ibmruntimes/node/commit/ca2913e9ddd1300a53654288d3269a4cb21c3dd4
https://github.com/ibmruntimes/node/commit/0e5506525df8d1782505c9b7d235ebaf4435cb28

[2016-09-29 14:13] BethGriggs commented on #68
The two commits have now been ported - see https://github.com/ibmruntimes/node/commits/v0.10-ppc/deps/v8ppc.

[2016-09-29 14:13] #68 closed

[2016-09-29 17:33] richardlau commented on #68
Yes, those were the two commits. Thanks. :+1:

[2016-11-15 16:52] crshnburn opened #69 "npm on z/OS has incorrect location for node"
Running npm on z/OS gives the following error `npm 2: FSUM7332 syntax error: got (), expecting Word`

this is because the npm script has the following line as the location of the node runtime
[code]
Editting this file to make the first line
[code]
allows the npm command to run as expected (providing that `node` is on the path)

[2016-11-15 22:17] jBarz commented on #69
We are able to reproduce the issue.

Using the following environment variable during build seems to fix this.
export PORTABLE=1
This should be fixed in the next update

[2016-11-15 23:01] richardlau commented on #69
`PORTABLE=1` is automatically set if you build the [`binary` target](https://github.com/ibmruntimes/node/blob/v0.12-zos-ascii/Makefile#L502) (the `binary` target is used on the other platforms to produce the `tar.gz` package).

[2016-11-17 16:42] jBarz commented on #69
The binary has been updated with the fix. Please re-do all installation steps with the new binary.
Closing this item

[2016-11-17 16:42] #69 closed, assigned to jBarz

[2016-11-29 14:24] smartmouse opened #70 "npm install -g strongloop give cb() never called! error on z/OS"
/u/slbld>npm install -g strongloop
npm ERR! cb() never called!
:/u/slbld>node -v
v0.12.17
:/u/slbld>npm -v
2.15.1

machine: slbld@zoscan2d

This is a blocking issue for trying out strongloop.

[2016-11-29 14:31] smartmouse opened #71 "npm install -g loopback-connector-soap issues"
:/u/slbld>npm install -g loopback-connector-soap
npm WARN engine request@2.79.0: wanted: {"node":">= 4"} (current: {"node":"0.12.17","npm":"2.15.1"})
npm WARN deprecated node-uuid@1.4.7: use uuid module instead
npm WARN engine xmlbuilder@8.2.2: wanted: {"node":">=4.0"} (current: {"node":"0.12.17","npm":"2.15.1"})
\

make: Entering directory '/u/slbld/node/lib/node_modules/loopback-connector-soap/n

[2016-11-29 14:42] joransiu commented on #71
This looks like it's trying to compile native add-ons with g++, instead of xlC?

[2016-11-29 14:44] jBarz commented on #71
use these environment flags
export CC=/bin/xlc
export CXX=/bin/xlC

[2016-11-29 15:08] joransiu commented on #70
@smartmouse : Does reissuing the npm command work?   `cb() never called` can show up if a connection is dropped, and is a well known issue: https://github.com/npm/npm/issues/2907

[2016-11-29 15:09] joransiu commented on #71
@smartmouse, can you set the `CC` and `CXX` environment variables as @jBarz suggested, and confirm whether the issue is resolved in your environment?

[2016-11-29 16:38] smartmouse commented on #71
[code]

[2016-12-01 06:19] smartmouse commented on #70
no does not work

[2016-12-01 06:32] smartmouse opened #72 "npm install -g sqlite3 fails on z/OS"
node-pre-gyp ERR! Tried to download(403): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v3.1.8/node-v14-os390-s390x.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for sqlite3@3.1.8 and node@0.12.17 (node-v14 ABI) (falling back to source compile with node-gyp)
make: Entering directory '/u/slbld/node/lib/node_modules/sqlite3/build'
  ACTION deps_sqlite3_gyp_action_before_build_target_un

[2016-12-01 06:39] smartmouse opened #73 "npm install -g loopback-connector-soap on z/os has issues"
:/u/slbld>npm install -g loopback-connector-soap
npm WARN engine request@2.79.0: wanted: {"node":">= 4"} (current: {"node":"0.12.17","npm":"2.15.1"})
npm WARN deprecated node-uuid@1.4.7: use uuid module instead
npm WARN engine xmlbuilder@8.2.2: wanted: {"node":">=4.0"} (current: {"node":"0.12.17","npm":"2.15.1"})

make: Entering directory '/u/slbld/node/lib/node_modules/loopback-connector-soap/nod

[2016-12-01 14:50] jBarz commented on #70
For the case in [npm/npm#2907](https://github.com/npm/npm/issues/2907) they say that it was a temporary network problem that resulted in corrupt downloads.
I am unable to reproduce the problem on our machines. So I am guessing that the network issue is probably resolved.
@smartmouse: If you still see network issues, the workaround suggested in #2907 is the following:
npm install npm-install-retry

[2016-12-01 16:48] jBarz commented on #71
This issue occured because the system ran out of resources (semaphores).
The following command will clear up the resources.
``for u in `ipcs | grep "^s.*$(whoami)" | tr -s ' ' | cut -d' ' -f2`; do ipcrm -s $u; done``

[2016-12-02 03:40] smartmouse commented on #71
:/u/slbld>for u in `ipcs | grep "^s.*$(whoami)" | tr -s ' ' | cut -d' ' -f2`; d
o ipcrm -s $u; done
:/u/slbld>npm install -g loopback-connector-soap
npm WARN engine request@2.79.0: wanted: {"node":">= 4"} (current: {"node":"0.12.17","npm":"2.15.1"})
npm WARN deprecated node-uuid@1.4.7: use uuid module instead
npm WARN engine xmlbuilder@8.2.2: wanted: {"node":">=4.0"} (current: {"node":"0.12.17","n

[2016-12-02 03:41] smartmouse commented on #71
should we increase the memory of the system? We have not done much so far.
How much memory do you have in the development machine.?

[2016-12-02 04:07] smartmouse commented on #70
I retried tonight - regardless of some errors, it seems that slc was installed
However, there are some garbage strings in the help

:/u/slbld>slc -v
strongloop v6.0.3 (node v0.12.17)
├── strong-arc@1.8.9 (3dd25ac)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.3
├── strong-registry@1.1.6 (f8c2339)
├── strong-start@1.3.4 (

[2016-12-02 04:10] smartmouse opened #74 "npm install -g loopback-connector-informix issues on z/OS"
:/u/slbld>npm install -g loopback-connector-informix
\

Downloading DB2 ODBC CLI Driver from http://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli/os390s390x_odbc_cli.tar.gz...
Unable to download IBM ODBC and CLI Driver from http://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli/os390s390x_odbc_cli.tar.gz
npm ERR! Öâaóùð òôKðð
npm ERR! argv "/u/slbld/

[2016-12-02 04:22] joransiu commented on #74
This issue is due to lack of zOS compatible cli drivers for DB2 from the ibm_db module.  We'll touch base with the owners of ibm_db to see if they can provide z/OS support.

[2016-12-02 04:44] smartmouse commented on #73
we can close this one which duplicated

[2016-12-02 04:44] #73 closed, assigned to nobody

[2016-12-02 19:02] jBarz commented on #71
The above issue is due to a compiler limitation when compiling the _nan_ headers. We are trying to get this fixed by the compiler team.

I have forked the nan project with a workaround here.
https://github.com/jBarz/nan/tree/v2.3.3.zos

before doing
npm install loopback-connector-soap

do this
npm install https://github.com/jBarz/nan/tarball/v2.3.3.zos

[2016-12-02 19:14] smartmouse commented on #71
:/u/slbld>npm install -g  https://github.com/jBarz/nan/tarball/v2.3.3.zos
nan@2.3.3 /u/slbld/node/lib/node_modules/nan
:/u/slbld>npm install -g loopback-connector-soap
npm WARN engine request@2.79.0: wanted: {"node":">= 4"} (current: {"node":"0.12.17","npm":"2.15.1"})
npm WARN deprecated node-uuid@1.4.7: use uuid module instead
npm WARN engine xmlbuilder@8.2.2: wanted: {"node":">=4.0"} (current: {

[2016-12-02 19:14] #71 closed, assigned to jBarz

[2016-12-05 14:26] smartmouse opened #75 "How to fix garbage display on z/OS"
Sometimes when we execute commands on z/OS, we got garbage display. How to fix this?
to reproduce execute slc -h

These commands are used internally, and may be useful when building custom
tooling and integrations with StrongLoop features:

pm: ru?@???@⣙???Ӗ??@???????@???????@@@@Ֆ??????k@???@???????@???????@??@?????????@??@?@??????@???????@M???????@??@@@@???????]@???@???@??@???@??????k@???@??@???@

[2016-12-05 14:28] smartmouse opened #76 "Investigate jenkins set up on Z/OS"
Once the manual trial is done and most issues are fixed, and the driver is more stable.
We can have the jenkin running the lists of loopback-connectors from jenkins.

[2016-12-05 14:34] smartmouse commented on #70
The  above is a new unrelated issue and we have opened a new issue to track the garbage display.
The original cb() issue is due to the network instability and now it is gone. We can close this.

[2016-12-05 14:34] #70 closed, assigned to nobody

[2016-12-05 14:35] smartmouse opened #77 "npm install -g strongloop has some nan errors on Z/OS"

[2016-12-05 14:40] smartmouse opened #78 "Investigate how to set up db2 for zOS"
Pre-req for loopback-connector-db2 for z/OS

[2016-12-05 18:16] jBarz commented on #76
Since this is not a node runtimes issue so I will close it.
We can track this internally via RTC.

[2016-12-05 18:16] #76 closed, assigned to jBarz

[2016-12-05 18:24] joransiu commented on #76
Agreed with @jBarz.   @smartmouse: This issue probably makes more sense to be tracked by StrongLoop, as that's an integration issue related to your CI.

[2016-12-05 18:26] joransiu commented on #78
@smartmouse: This issue probably makes more sense to be tracked by StrongLoop.  Setting up DB2 is not related to the node runtime, and is something you need to work out with your sysprogs.

On the other hand, we will, of course, look into issues with npm modules, and work with respective module owners, if issues arise.

I'm going to close this issue.

[2016-12-05 18:26] #78 closed, assigned to jBarz

[2016-12-06 13:13] jBarz commented on #72
The tar functionality in python on zOS is not functional.
I have made the changes in node-sqlite to work on zOS.
I am awaiting approval to upstream these changes.
In the meantime, you can npm install from my github repo.

npm -g install https://github.com/jBarz/node-sqlite3/tarball/v3.1.4.zos --link https://github.com/jBarz/nan/tarball/master

[2016-12-06 13:17] jBarz commented on #77
I am working on upstreaming some changes to nan and getting approval.
In the meanwhile, use the following npm option to install any package with nan dependency.
--link https://github.com/jBarz/nan/tarball/master

[2016-12-07 15:57] Kevchuck opened #79 "Getting an "Illegal Instruction" error when trying to run z/OS node command"
After installing the z/OS node technical preview, when running a node -v command or node -h command, those run fine.  However when I try to run node by itself, I get an Illegal Instruction error.

Download used: http://www14.software.ibm.com/cgi-bin/weblap/lap.pl?popup=Y&la_formnum=&li_formnum=L-PIVN-AG7G3Q&title=IBM%20SDK%20for%20Node.js%20z/OS%20Technical%20Preview&accepted_url=http://public.dhe

[2016-12-07 16:16] mmallick-ca commented on #79
Could you share the  CEEDUMP file, if its being generated, when it hits the SOC1?

Thanks

[2016-12-07 16:25] Kevchuck commented on #79
Here is the CEEDUMP file that was produced.
[CEEDUMP.20161207.095134.133737.zip](https://github.com/ibmruntimes/node/files/637125/CEEDUMP.20161207.095134.133737.zip)

[2016-12-07 16:51] mmallick-ca commented on #79
At first glance it looks like V8 is unable to setup the heap are there any restrictions on the amount of memory available to node in your environment?

[2016-12-07 17:14] Kevchuck commented on #79
What would be the best command to determine the memory utilization?  Commands like top and vmstat aren't working in the environment (not found).  In the meantime, I'll check on what the overall setup is for the environment.  What is the minimum recommended?

[2016-12-07 17:25] mmallick-ca commented on #79
"ulimit -a" will list the current settings. Our test system configuration is listed below:
core file           8192b
cpu time          unlimited
data size         unlimited
file size         17179869176b
stack size        unlimited
file descriptors  64000
address space     unlimited
memory above bar  17592186040320m

I do not think node requires as much memory above the bar as listed above but per

[2016-12-07 17:46] Kevchuck commented on #79
So here is what our ulimit is:

core file         8192b
cpu time          unlimited
data size         unlimited
file size         unlimited
stack size        unlimited
file descriptors  64000
address space     204800k
memory above bar  2048m

We can't do an unlimited address space, and obviously the memory above the bar that you have is way larger, so can you suggest some starting numbers we can g

[2016-12-07 18:21] mmallick-ca commented on #79
I have been able to reproduce the issue by setting the address space to 200MB. Tried a few different settings and it seems 700MB is sufficient to get to prompt and install a package with npm.

[2016-12-07 18:23] mmallick-ca commented on #79
Just want to add that we will be looking into why it requires this much memory. Our port has not really added any new limits and 700MB does seem high for a node application.

[2016-12-07 21:13] Kevchuck commented on #79
Awesome.  I'll get this to our infrastructure folks and see about getting a solid gig just to give us some breathing room.  I'll come back and specify the results.

[2016-12-11 23:31] smartmouse commented on #70
despite of many errors in the install

erros in install
https://gist.github.com/smartmouse/057a1a4395ac8d1aeef8ead6efcc7bae

0, strong-trace-waterfalldata@1.0.1, strong-mesh-client@1.6.3)
:/u/slbld>slc -v
strongloop v6.0.3 (node v0.12.17)
├── strong-arc@1.8.9 (3dd25ac)
├── strong-build@2.1.2 (a98f310)
├── strong-deploy@3.1.4 (9b29df0)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.2.3
├──

[2016-12-12 23:01] jBarz commented on #77
the changes have been committed
https://github.com/nodejs/nan/commit/0fe38215ff8581703967dfd26c12793feb960018
The next npm release of "nan" should work fine

[2016-12-12 23:01] #77 closed, assigned to jBarz

[2016-12-13 05:07] jBarz commented on #34
https://github.com/nodejs/node/pull/10245

[2016-12-13 15:57] jBarz commented on #26
This test passes on the latest node with rc=0.

I tested this on aix 6.1

[2016-12-13 15:57] #26 closed

[2016-12-13 20:15] smartmouse opened #80 "npm install -g loopback-connector-dashdb2 fails on z/OS"
/u/slbld>npm install -g loopback-connector-dashdb
\

Downloading DB2 ODBC CLI Driver from http://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli//os390s390x_odbc_cli.tar.gz...
Unable to download IBM ODBC and CLI Driver from http://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli//os390s390x_odbc_cli.tar.gz
npm ERR! Öâaóùð òôKðð
npm ERR! argv "/u/slbld/n

[2016-12-14 04:16] smartmouse commented on #80
similar issues for loopback-connector-db2

/u/slbld>npm install -g loopback-connector-db2
\

Downloading DB2 ODBC CLI Driver from http://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli//os390s390x_odbc_cli.tar.gz...
Unable to download IBM ODBC and CLI Driver from http://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli//os390s390x_odbc_cli.tar.gz
npm ERR

[2016-12-14 04:28] joransiu commented on #80
Thanks @smartmouse.  All of these are related to ibm_db module, and the lack of z/OS cli drivers on DHE atm.  This issue is a duplicate of https://github.com/ibmruntimes/node/issues/74.

I'll close this issue, and continue to update https://github.com/ibmruntimes/node/issues/74 as we make progress.

/cc @bimalkjha

[2016-12-14 04:28] #80 closed, assigned to nobody

[2016-12-14 04:32] smartmouse opened #81 "npm install -g loopback-connector-oracle fails on z/OS"
:/u/slbld>npm install -g loopback-connector-oracle
npm WARN engine loopback-connector-oracle@3.0.0: wanted: {"node":">=4.0.0"} (current: {"node":"0.12.17","npm":"2.15.1"})
npm WARN engine request@2.79.0: wanted: {"node":">= 4"} (current: {"node":"0.12.17","npm":"2.15.1"})
/

_?��%��˚��]��]��]��������?π��ʛ�����������;����?ʚ��/>>?Ȁ��>��_?��%������/Ȁ��>���?>(?��%�^���?%����%�>/_���_?��%��˚�����������

[2016-12-14 19:59] Kevchuck commented on #79
Sorry for the late response.  Here is my current ulimit -a settings:

core file         8192b
cpu time          unlimited
data size         unlimited
file size         unlimited
stack size        unlimited
file descriptors  64000
address space     1000000k
memory above bar  4096m

After setting to that, when running node and node -h everything seems to be working.  Thanks for the help!  I'm going

[2016-12-14 19:59] #79 closed, assigned to mmallick-ca

[2016-12-15 09:35] bimalkjha commented on #74
@joransiu I would like to understand - you are trying to install loopback-connector on a mainframe system running z/OS or a mainframe system running Linux i.e. zLinux? ibm_db works on zLinux  and I can work to diagnose any issue, but ibm_db can not be installed on a mainframe as of now. thanks.

[2016-12-15 12:05] gibfahn commented on #74
@bimalkjha Joran and his team are working on the [zOS port of node](https://developer.ibm.com/node/sdk/#ztp).

[2016-12-15 15:00] joransiu commented on #74
Thanks @gibfahn.  Just to confirm, we are validating loopback-connector running on z/OS, hence we want to get ibm_db working on z/OS proper.

[2016-12-16 03:45] smartmouse commented on #75
please provide the steps to be able to view the real text. Thanks

[2016-12-16 04:09] mmallick-ca commented on #75
pipe the output to "iconv -f ISO8859-1 -t IBM-1047" so in this case it should be
slc -h | iconv -f "ISO8859-1" -t "IBM-1047"

[2016-12-19 14:34] jBarz commented on #81
We are working on fixing up the messed up message.
To properly interpret the message, here is a workaround

`npm... > output 2>&1`

The output file will have a mix of ebcdic and ascii. The ascii parts will be messed up.

`iconv -f ISO8859-1 -t IBM-1047 output > output.ascii`

Now when you view output.ascii, you will be able to read the ascii parts of the message
In this case the message is as foll

[2016-12-21 16:40] jBarz commented on #81
The incoherent error message issue has been fixed.
Now when you run `npm install -g loopback-connector-oracle`, you will get

    throw err;
          ^
Error: Cannot find module '.'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.require.resolve (module.js:388:19)
    at Object.<anonymous> (/u/slbld/oracle/loopback-oracle-installer/pkginstall.js:19:32)
    at Module._co

[2016-12-21 16:40] #81 closed, assigned to jBarz

[2016-12-21 16:47] sam-github commented on #81
@bajtos is this expected? Should there be an older version which is compatible with 0.12?

[2016-12-21 16:53] bajtos commented on #81
Yes, `loopback-connector-oracle@2` should still support Node v0.10/v0.12.

@raymondfeng and @rashmihunt are most familiar with this particular connector.

[2016-12-21 17:08] raymondfeng commented on #81
1. Please note the connector should not be installed globally using `-g`.
2. loopback-connector-oracle@3.x now uses `oracledb` module as the driver.
3. You'll need to have oracle instant client preinstalled

[2016-12-21 17:09] sam-github commented on #81
Thanks you all.

@smartmouse try again with `loopback-connector-oracle@2`.

[2016-12-21 18:36] jBarz commented on #81
I tried it myself and got the following error.

Downloading/Extracting http://7e9918db41dd01dbf98e-ec15952f71452bc0809d79c86f5751b6.r22.cf1.rackcdn.com/loopback-oracle-os390-s390x-abi14-1.8.0.tar.gz
[Error: Prebuilt tarball not found for your node version and platform: http://7e9918db41dd01dbf98e-ec15952f71452bc0809d79c86f5751b6.r22.cf1.rackcdn.com/loopback-oracle-os390-s390x-abi14-1.8.0.tar.gz]

[2016-12-21 18:38] raymondfeng commented on #81
@jBarz Yes for 2.x. Starting from loopback-connector-oracle@3.0, we'll fall back to local compilation of `oracledb`.

Do you have to use Node 0.10/0.12?

[2016-12-21 18:54] jBarz commented on #81
We have 0.12 on z/OS for now.
Node v6 will be out middle of next year.

[2016-12-21 18:59] raymondfeng commented on #81
@smartmouse Do we still have z/OS access? Maybe we can pre-build the connector there.

[2016-12-21 19:27] sam-github commented on #81
Not for 0.12, it isn't worth it. It is end of life in days. If it doesn't work on zOS, that's OK, IMO. Runtimes won't support 0.12 as soon as it is end of life by nodejs upstream.

[2016-12-21 20:59] jBarz commented on #77
@smartmouse :
New "nan" is available as v2.5.0
So the strongloop packages and dependencies will need to upgrade to using 2.5.0

[2016-12-21 21:02] sam-github commented on #77
Hopefully all strongloop packages are depending on `nan@^2`, so the latest nan will release will be picked up by them automatically.

[2016-12-22 02:58] jBarz commented on #77
The node-sqlite3 package requires `nan: ~2.4.0`
I could submit a PR to change that to 2.5.0

[2016-12-22 04:33] sam-github commented on #77
To `^2.5.0` (or you'll have to PR it over, and over, and over...), but yeah, three thumbs up for PRing it.

[2016-12-22 23:34] jBarz commented on #72
Here is the pull request.
https://github.com/mapbox/node-sqlite3/pull/753

[2016-12-29 08:35] #34 closed

[2017-01-15 08:17] std3lqi opened #82 "Keep getting assertion failure of "Assertion faied: %s, fie: %s, ine: %d" on z/OS"
I tried ibm-1.2.0.16-ea3-node-v0.12.17-os390-s390x.pax.Z on z/OS one week ago, which worked well with hello world. Then I tried to move my app on z/OS, doing npm install and so on. After excluding some node modules I think maybe not working on z/OS, I kept getting the following failure.

`Assertion faied: %s, fie: %s, ine: %d`

What confused me is my original hello world got this failure too. What

[2017-01-15 20:51] jBarz commented on #82
It seems be the case that your system has run out of resources (semaphores/shared memory).
One way to free these resources is to use the `ipcrm `command.
`ipcs `will list what exactly is being used.

[2017-01-16 02:46] std3lqi commented on #82
Many thanks! I can see many semaphores not freed with `ipcs`. After freeing them all, I can run `npm` and `node` now.

However, after I pressing `Ctrl+C` to stop node, I still can see some semaphores not freed. Is it expected?

[2017-01-16 04:32] std3lqi commented on #82
My app still hit this assertion failure, after freeing semaphores all. Maybe related specific node modules? Still on the way looking into it. Any hint would be helpful. Thanks!

Here is my ulimit output.

`ulimit -a`
`core file size          (blocks, -c) 4096`
`data seg size           (kbytes, -d) unlimited`
`file size               (blocks, -f) 8589934588`
`open files                      (-n) 64

[2017-01-16 13:41] jBarz commented on #82
We expect semaphores won't be freed if the application closes unexpectedly (e.g. seg fault).
However, I noticed that they aren't freed when the application is closed via CTRL-C which is not expected. We are looking into fixing that.

Can you share the output of `ipcs -y` ?

[2017-01-16 15:39] std3lqi commented on #82
Here is my output.

`>node test`
`CEE5206S The signal SIGINT was received.`

`>ipcs | grep TEST`
`s      69669 0x00000000 --ra-------  TEST    OS390`
`s      69670 0x00000000 --ra-------  TEST    OS390`
`s      69671 0x00000000 --ra-------  TEST    OS390`
`s      69672 0x00000000 --ra-------  TEST    OS390`
`s      69673 0x00000000 --ra-------  TEST    OS390`
`s      69674 0x00000000 --ra-------

[2017-01-16 15:42] jBarz commented on #82
What about
`ipcs | wc -l`

It seems like you didn't get the assert btw, right?

[2017-01-17 02:56] std3lqi commented on #82
The `node test` is a hello world, which works well, except some semaphores are not freed as expected.

The app I'd like to port to z/OS uses more node modules, which seemed exhausting semaphore resource and got assert failure.

`>ipcs | wc -l`
`    372`

Thanks!

[2017-01-18 08:11] std3lqi commented on #82
I got my app to work to some extends, without assert failure related to semaphores. But I still think some semaphores are freed, because, occasionally, assert failure showed up after restarting node.js server a couple of times during debugging.

Thanks!

[2017-01-20 05:47] rich335z opened #83 "Garbage responses from npm on z/OS"
I'm running the latest build **node-v0.12.18-os390-s390x**. Receiving garbage responses from npm (and some node) commands. For example:
![image](https://cloud.githubusercontent.com/assets/23561958/22136689/a70b51a8-de9b-11e6-8749-bbda7d935cf0.png)

Piping it to iconv has no effect:
![image](https://cloud.githubusercontent.com/assets/23561958/22136708/c277f98c-de9b-11e6-84be-ce8d0bc52d49.png)

Inte

[2017-01-20 10:17] std3lqi commented on #83
Hi Rich,

You can use `node app 2>&1 | iconv -f ISO8859-1 -t IBM-1047` to see the output.

[2017-01-20 19:41] rich335z commented on #83
Thanks @std3lqi but that had no effect. Still getting junk responses

[2017-01-20 19:56] zorts commented on #83
This is TOTALLY a stab in the dark, but - what happens if you set _BPXK_AUTOCVT=ON in your environment?

[2017-01-20 20:17] jBarz commented on #83
I am wondering if it is possible that the terminal is tagged as ascii.
What does the following show?
ls -T \`tty\`

[2017-01-20 20:22] rich335z commented on #83
Thanks @zorts - Actually, I already have _BPXK_AUTOCVT=ON in my profile. However, since you mentioned it, I set it to OFF, and now the responses are readable. So, that's something...

This is a little concerning though because the Git client requires _BPXK_AUTOCVT=ON

[2017-01-20 20:24] rich335z commented on #83
@jBarz
[code]

[2017-01-20 20:39] zorts commented on #83
@rich335z Yes, Houston, we've got a problem. :-/

I really question the appropriateness of _BPXK_AUTOCVT being controllable in the environment; it really seems to me that the individual APPLICATION ought to know whether it was designed with the whole enhanced ASCII infrastructure in mind or not.

[2017-01-20 21:42] jBarz commented on #83
@rich335z : I tagged my terminal as binary and got garbage output from npm.
I removed the binary tag and the output was fixed again. So some of the garbage you see might be due to that.

The garbage output for --v8-options is because we compiled v8 by converting all literals to ascii.
What this means is that when v8 prints out to screen directly, you will see ascii (garbage).
We are in the process

[2017-01-21 00:15] rich335z commented on #83
OK, great @jBarz - I removed the binary tag from my terminal, and I'm now getting readable responses, even with _BPXK_AUTOCVT=ON. It's looking good... I'll close this issue.

Good to know about the v8 stuff...

Thanks everyone!
Rich

[2017-01-21 00:15] #83 closed, assigned to nobody

[2017-02-08 15:29] jBarz commented on #82
Tech preview 5 is available which cleans up system semaphores.
It is available for download [here ](https://developer.ibm.com/node/sdk/ztp/)
Do re-open this issue if you see hanging system semaphores with the new version.

[2017-02-08 15:29] #82 closed, assigned to jBarz

[2017-02-09 09:37] std3lqi opened #84 "Node.JS convert UTF8 to EBCDIC in the uploaded file on z/OS"
I'm using angula-file-upload and multer to upload binary file to Node.JS on z/OS. The bytes in the uploaded file were converted from UTF-8 to EBCDIC. For example '0x3E' is converted to '0x6E'.

After having a look at the code, I'm guessing (but not sure before deep investigation) the binary data in POST (form-data) request is converted to EBCDIC by the following code. Appreciate it, if anyone can

[2017-02-09 10:08] gibfahn commented on #84
cc/ @ibmruntimes/s390

[2017-02-09 14:19] jBarz commented on #84
Thanks for the feedback! I am investigating this and will have an update soon.

[2017-02-10 04:30] polyrabbit commented on #84
Looking forward to your reply, I'm alse having this issue. Every uploaded binary file is converted in a wrong way.

[2017-02-11 03:05] std3lqi commented on #84
After my whole day's investigation, the problem seems related to the node module "multer". It get the correct bytes from Node.JS, but what it outputs to disk is always converted to EBCDIC.

Here is "node_modules/multer/storage/disk.js".

[code]

However, no unexpected encoding conversion happened when I used pipe(...) to copy one binary file within Node.JS on z/OS.

Now I'm confused ...  :-(

[2017-02-11 20:05] jBarz commented on #84
@std3lqi : I tested a sample application using "multer" and found that all files written to disk are converted to ebcdic. This works well when you upload an ascii text file (which will be converted to ebcdic on zos). But fails when you upload a binary file.
So I made some [changes ](https://github.com/ibmruntimes/node/commit/dfda95594220551860fd4c264a50c07f59081064)to fix this.
Note: The file will

[2017-02-13 03:44] std3lqi commented on #84
Many thanks, jBarz!

I suppose the following code should work with those changes, and will be pleased to try it out when new tech preview is ready.

`var outStream = fs.createWriteStream(finalPath, {defaultEncoding:'binary'})`

Thanks, again!

[2017-02-13 13:48] jBarz commented on #84
yes, that should work perfectly. But does that code change have to happen in "multer"?
Or in your own application?

[2017-02-14 01:56] std3lqi commented on #84
I suppose I should set proper additional encoding-type in angula-file-upload so that "multer" can use correct encoding. So I need find out how later this week.

[2017-02-15 15:21] zorts commented on #82
Thanks for fixing this!

[2017-02-15 16:13] zorts opened #85 "Build of node native addon for z/OS fails due to ordering of command line args to xlC"
I am trying to build a node native addon for z/OS. The `node-gyp build` command fails with these message (just the interesting parts):

    make: Entering directory '/proj/kbm/tsjlc/node.js/node-addon-examples/7_factory_wrap/node_0.12/build'
      CXX(target) Release/obj.target/addon/addon.o
      CXX(target) Release/obj.target/addon/myobject.o
      SOLINK_MODULE(target) Release/obj.target/addon.

[2017-02-16 09:19] Paul-Ivinson commented on #85
@zorts Can you confirm you have read and understood the Developer's Certificate of Origin in [CONTRIBUTING.md](https://github.com/ibmruntimes/node/blob/v4.x-port/CONTRIBUTING.md#developers-certificate-of-origin-11) and that you are making the requested certification?

[2017-02-16 14:19] zorts commented on #85
@Paul-Ivinson Good point. I'm checking, and will get back to you later today.

[2017-02-25 19:11] hansschl commented on #55
Hi, I also want to run node on a WD MyBook Live.
I tried downloading a recent node package for PPC 603 from Optware, and also tried to compile the sources with gcc from Optware, but without success: keep getting "Illegal instruction" errors.
Has anyone here had more success? Any hints would be great!

[2017-02-27 16:43] andrewlow commented on #55
@hansschl hmm.. "WD MyBook Live" reportedly uses an Applied Micro APM82181 CPU

https://en.wikipedia.org/wiki/Western_Digital_My_Book#My_Book_Live

This looks like a version of the PPC 400 instruction set. I strongly suspect it suffers from the same problem of lack of FPU instructions (implemented in the same manner as the code expects). While this CPU probably does have FPU instructions, it proba

[2017-02-27 18:40] zorts opened #87 "Binary files are converted to using an EBCDIC to ASCII converter, breaking image files"
It appears that the z/OS port (ea5) is unconditionally converting files from EBCDIC to ASCII at some point where it shouldn't be. Using express.js, I can serve textual content just fine, but images don't work. If I use iconv to convert the image from iso8859-1 ("ASCII") to ibm-1047 ("EBCDIC"), it works.

The directory I'm running in looks like this:

    bash-2.03$ ls -lT index.html simple.js Z13*

[2017-02-27 21:09] zorts commented on #85
Our legal beagles have confirmed that I may, indeed, make the requested certification. Woot!

[2017-02-27 22:52] jBarz commented on #87
Hi Jerry,
You are right. The files are unconditionally being converted which is something we should fix.
In the meanwhile, to get images working with ea5, you could try tagging the image files as ASCII text and then turning on _BPXK_AUTOCVT.

e.g.
_chtag -tc ISO8859-1 image_file_
_ls -T image_file_
t ISO8859-1   T=on  image_file

[2017-02-28 13:40] hansschl commented on #55
Andrew, thanks a lot for your comments!
I will have to move to another hardware instead of porting Node to this one.
One problem with this "WD MyBook Live" NAS is that it is quite dated, and such a port would probably not have many actual users.
Thanks again!

[2017-02-28 13:48] andrewlow commented on #55
If you're just looking for a cheap (embedded) option to run Node, look at the RaspberryPi - it's a full ARM platform which is well supported by Node.js

There are even reasonable NAS setups for the Pi http://www.techradar.com/how-to/computing/how-to-build-your-own-raspberry-pi-nas-1315968

Many commercial NAS systems will use 'weird' CPUs making software compatibility tricky. There apparently are

[2017-02-28 17:08] zorts commented on #87
Tagging the images as ASCII worked. However, this is obviously not a long term solution.

Do you plan to use enhanced ASCII at some point in the future? That would also eliminate the need to hack all the internal string constants to hex.

[2017-02-28 18:18] mmallick-ca commented on #87
Just a quick note about the use of enhanced ASCII. Initially we did think about using the Enhanced ASCII facility. However with enhanced ASCII a **subset**  of C headers and functions are supported. Given that both v8 and Node are quite active projects, we decided not to use the facility given this limitation.

[2017-02-28 18:53] zorts commented on #87
It's a very LARGE subset! FWIW - we (Rocket Software) have been using enhanced ASCII to port open source tools to z/OS (including the recent git port) with good results; I can't recall encountering a function that wasn't supported.

That said - even without using enhanced ASCII, it's possible to examine the file tag to determine encoding and take action based on that. I'm currently looking at the

[2017-03-03 06:29] std3lqi commented on #87
I have the same problem with images, and tag them as work-around.

[2017-05-10 12:36] gatogatogato opened #88 "S0C1"
After downloading/unpacking into my USS I always run into an S0C1

CEE3201S The system detected an operation exception (System Completion Code=0C1).
         From entry point v8::base::OS::Abort() at compile unit offset +0000000000000000 at entry offset -000000001775D9A0 at address 0000000000000000.
         Possible Bad Branch:  Statement: 344  Offset: +00000042

ulimit -a gives me this:

[code]

[2017-05-10 15:05] mmallick-ca commented on #88
Could you try bumping up the address space setting to 700MB and giving it a try? Without the full traceback its hard to tell but we have encountered a similar SOC1 when the address space was limited to less than 700MB.

[2017-05-11 07:49] gatogatogato commented on #88
Thanks for your reply.
`ulimit -A 700000`
just returns a
`ulimit: FSUM9222 set limit failed: EDC5121I Invalid argument.`

[2017-05-11 08:22] rich335z commented on #88
@gatogatogato the ability to set address space size is commonly restricted to privileged sysadmin roles. You may need to request this size increase from another team in your org.

[2017-05-11 09:30] gatogatogato commented on #88
@rich335z In my OMVS segment I have ASSIZE(800,000,000) (ACF2) but maybe we have other limiting factors in place.

[2017-05-26 01:59] rich335z commented on #88
@gatogatogato Sorry, I had to rely on my InfoSec team to make this change for me, and I'm not sure what they changed... I do know that the first change they made didn't provide the expected increase, and they had to go back and change something else... maybe MEMLIMIT?

[2017-06-08 08:50] jguillaumes commented on #88
Hello.
We are also getting a S0C1 trying to run npm:

[code]

We are above 700M of memory:

[code]

I'm trying it in a 2817 machine, with current z/OS 2.2.

[2017-06-08 12:30] jBarz commented on #88
hi @jguillaumes

Is this with using the latest node v6.10.3 beta?
What is the npm command you are using?

[2017-06-08 18:03] jguillaumes commented on #88
Yes, the just released beta. And the command is simply

[code]

[2017-06-08 18:49] mmallick-ca commented on #88
Hi @jguillaumes

Is there a CEEDUMP.* traceback file generated with this error? If there is one could you share it with us? Just out of curiosity are you atleast able to invoke node and interact with the prompt?
Based on the error message I do not think this SOC1 is memory related, if anything its related to parsing the javascript(potentially the npm source file).

It maybe worthwhile to take a qu

[2017-06-08 18:53] jguillaumes commented on #88
Hi @mmallick-ca,

I'll try to generate a CEEDUMP tomorrow and I have no problem sharing it with you. How should I send you the file? An attachment here is OK?

As for the npm, I have changed its first line (the #! one) because I have installed the beta in my home directory instead than under /usr/local. By the way, executing it without parameters (just ```npm```) it generates the same ABEND.

Befo

[2017-06-08 19:22] mmallick-ca commented on #88
Yup, posting it here should be fine and just to confirm you are running on z196 machine right?

[2017-06-12 10:22] jguillaumes commented on #88
I'm attaching the CEEDUMP
[ceedump.txt](https://github.com/ibmruntimes/node/files/1067805/ceedump.txt)

[2017-06-13 17:28] mmallick-ca commented on #88
Hi @jguillaumes

Looking at the traceback it seems we hit the SOC1 very early, during the bootstrap. We have not run into this during testing, we are going to investigate further by trying to run the beta on a z196 machine and see if we are able to reproduce the issue. In that case it might be something to do with our build process and we would need to review it to see whats going on.

Apologies f

[2017-06-14 08:43] jguillaumes commented on #88
No problem, I'll be watching this space :)
Just FYI, the system I'm doing the tests is a z12.

[2017-06-15 20:50] jBarz commented on #88
@jguillaumes, by z12 do you mean zEC12?
Your earlier comment was about testing on a z196 system. (2817 maps to z196 hardware)

[2017-06-16 08:25] jguillaumes commented on #88
Oh, sorry for the confusion. What I wanted to mean was "z196 or superior". At that time I didn't know for sure which was the specific architecture of the test machine (the operation guys can IPL it in different CECs), but was sure it was >= z196.

[2017-06-26 22:15] rich335z opened #89 "Errors running unpack.pl"
Receiving the following error when running the unpack.pl script during install of v6.10.3 beta for z/OS:

[code]

[2017-06-27 01:38] rich335z commented on #89
Resolved this issue with two actions:

Update the shebang to point at local perl installation - I have perl installed in my home directory, so I had to update the shebang reference

Remove tagging of `unpack.pl` with `chtag -r ./unpack.pl` - My profile has _BPXK_AUTOCVT=ON and _CEE_RUNOPTS="FILETAG(AUTOCVT,AUTOTAG) POSIX(ON)" as required by the z/OS Git client. The unpack.pl came out tagged (or au

[2017-06-27 03:02] rich335z commented on #89
However, the script will still not run successfully. It fails when copying the files to the MVS datasets. Initially, I noticed the HLQ (which I allowed to default) was passing through in lower case on the DSNs:

[code]

So, I explicitly set the HLQ in upper case via the `export COMPILER_INSTALL_HLQ=`

Cleaned up with the `unpack.pl -uninstall`, and re-ran the install, and it fails at the same poin

[2017-06-27 12:38] stevench2000 commented on #89
Thanks for the feed back.
We will look into the other issues.
For the last issue about unloading the datasets, we check the HELD output queue in SDSF to determine whether the job has completed successful:
1. The issue you are seeing might be that the MSGCLASS A in the JCL doesn’t save the job output to HELD output queue in SDSF. Just wondering, do you see the receive jobs from the HELD output queu

[2017-06-28 05:18] rich335z commented on #89
Thanks... I routed to the held queue and that got me past this issue. The script now fails with:
[code]

I removed bash as my login shell and enabled _BPX_SHAREAS and _BPX_SPAWN_SCRIPT, which don't appear to be honored as I still see multiple asids being spawned.

[2017-06-28 13:22] stevench2000 commented on #89
Thanks again for the feed back.
Just wondering what zOS version is the system currently running on? It might be related to this APAR:
http://www-01.ibm.com/support/docview.wss?uid=isg1OA44122
Also, the datasets when unloaded on MVS require approximately 2 GB of space, so please ensure the system has more available space on the volumes.
Hope this helps.

[2017-06-28 18:46] rich335z commented on #89
Thanks for the info. We are on z/OS 2.2 in this system, though.

Good point on the disk space... the descriptiveness of that EDC5061I message leaves a lot to be desired, but it appears to be most commonly associated with contention. So, that's where my head was at.

We have ACS restrictions in place on TSO user dataset space requests. Basically, any request for greater than (CYL,(50,50)) on a TSO

[2017-06-29 04:29] rich335z opened #90 "v6 beta for z/OS - npm not working"
All npm commands are failing.

If under /bin/sh, receiving the following error on all npm commands (e.g. npm --version, npm ls, npm config --global, etc):
[code]
If under bash, receive the following error on all npm commands:
[code]

Based on prior [systax errors](https://github.com/ibmruntimes/node/issues/89) during install, I suspected AUTOCVT issues, but this may not be the case. I have uninsta

[2017-06-29 12:52] jBarz commented on #90
I am curious about the file tag on npm.
What is the output for "ls -T \<path to npm\>"

[2017-06-29 13:30] Karagines commented on #90
Here is the output from a number of ls commands.
<pre>
MJKARAG:/u/rjack11/node-v6.10.3-os390-s390x/bin:>ls -T npm
                    npm
MJKARAG:/u/rjack11/node-v6.10.3-os390-s390x/bin:>ls -a npm
npm
MJKARAG:/u/rjack11/node-v6.10.3-os390-s390x/bin:>ls -l npm
lrwxrwxrwx   1 RJACK11  OEGROUP       38 Jun 28 22:40 npm -> ../lib/node_modules/npm/bin/npm-cli.js
</pre>

[2017-06-29 13:46] jBarz commented on #90
ls-T didn't output the encoding.
Could you try "chtag -p \<path to npm\>"

Can you also test running a simple hello world file

[2017-06-29 21:48] rich335z commented on #90
Node itself seems to work fine. I've been able to run several existing apps that I have.
[code]
Looks like `npm` and `npm-cli.js` are tagged as ISO8859-1, while node is tagged as IBM-1047:
[code]
If I remove the tags from the npm files, I still get the errors.
[code]
If I explicitly tag the npm files as IBM-1047, I get different errors:
[code]

[2017-06-29 22:05] jBarz commented on #90
That file should not be tagged. I wonder how it got the tag.
Can you display the tag information from within the pax file like so:

pax -v -o T -f \<path to pax\> node-v6.10.3-os390-s390x/lib/node_modules/npm/bin/npm-cli.js

It is also odd that the node binary has the Text flag turned on.

[2017-06-30 13:53] jBarz commented on #88
@jguillaumes Can you try the beta2 which is now available for download?
https://developer.ibm.com/node/sdk/ztp/

[2017-07-01 20:37] rich335z commented on #90
[code]

[2017-07-02 00:37] jBarz commented on #90
Are you unpaxing using the following command?
pax -rzf \<path to pax.Z file\>

That command should not change the filetags.

[2017-07-02 01:25] rich335z commented on #90
I am using the `pax -rf <path_to_pax.Z_file> -x pax` command that's referenced on the DeveloperWorks page

[2017-07-05 08:46] rich335z commented on #90
However, to clarify... as originally referenced in this issue, the tagging of npm doesn't appear to be the problem. I have re-installed multiple times, with and without auto-tagging, and still encounter the syntax error. My latest replies here are simply based on my most recent install attempt. So, to address the question of file tagging...

I uninstalled, then again removed the auto-tagging setti

[2017-07-05 11:52] jBarz commented on #90
FSUM7332 indicates that the shell is unable to process the npm script.

Now that there is no file tagging, i am curious about the codepage of the npm script.
Could you post the output of
od -x \<path to npm\> | head

[2017-07-05 23:35] rich335z commented on #90
[code]

[2017-07-06 02:04] jBarz commented on #90
That indicates that it is in the ebcdic codepage which is good.

The error message above seems to indicate that npm is being run as a shell script because that error code comes from the builtin shell utility.
The first line in the npm script indicates that it should be run by node and not the shell.

Is node on your PATH?
You can do this to put it on your PATH
export PATH=/u/rjack11/node-v6.10.3-o

[2017-07-06 08:00] daveyc commented on #89
We're having the same problem. It seems to me that the jobstep parsing in `CheckHeldOutput::check_held_output` is not reliable. Of course the format depends on the IEFACTRT exit. We use [Rob Scotts popular routine](http://planetmvs.com/flowerbox/RobScott.txt). You should investigate the `IEF142I` message in the JESYSMSG file if you want to reliably yank step condition codes.

[2017-07-06 16:28] rich335z commented on #90
Ahh... that makes sense. Node is indeed in my PATH. However, `/usr/bin/env` does not exist in our environment... `env` is located at `/bin` in our systems. This also helps explain the early issue I had with the unpack.pl script. It looks like the [Apache Spark for z/OS](https://www.ibm.com/support/knowledgecenter/en/SSCTFE_1.1.0/com.ibm.azk.v1r1.azka100/topics/azkic_t_verifyenvpath.htm) folks have

[2017-07-06 17:30] jBarz commented on #90
should work too I think.

[2017-07-06 19:57] rich335z commented on #90
Well, this gets me past the syntax error, but now results in the process being immediately killed when issuing npm command:
[code]

[2017-07-06 20:01] jBarz commented on #90
The download page suggests setting a STEPLIB environment variable.
Did you apply that?

[2017-07-06 20:10] rich335z commented on #90
Oh shoot! I forgot I had disabled that while going through the re-install iterations.
[code]
SUCCESS! Thanks a ton for the help!

[2017-07-06 21:42] #90 closed, assigned to nobody

[2017-07-07 13:46] jBarz commented on #88
Please re-open the issue if it persists after beta2.

[2017-07-07 13:46] #88 closed, assigned to mmallick-ca

[2017-07-07 18:51] jBarz commented on #87
With the latest beta, merely tagging files as binary should be sufficient.
You can download v6.11.0 Beta2 here.
https://developer.ibm.com/node/sdk/ztp/

I will close this issue for now but please feel free to re-open if necessary.

[2017-07-07 19:23] jBarz commented on #75
fixed in the latest node v6.11 beta2 available for download here
https://developer.ibm.com/node/sdk/ztp/

[2017-07-07 19:23] #75 closed, assigned to jBarz

[2017-07-07 19:45] #85 closed, assigned to nobody

[2017-07-07 19:45] #87 closed, assigned to nobody

[2017-07-26 09:37] std3lqi opened #91 "Failed to set shell for child_process.exec"
Hi,

We're using node-v6.11.0-os390-s390x, and find the '/bin/ksh' is hard-coded in [child_process.exec(command[, options][, callback])](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback) on z/OS. On the system where we don't have '/bin/ksh', we failed to set options.shell to '/bin/sh'. It looks like the code checking options.shell before setting i

[2017-07-26 14:06] jBarz commented on #91
Thanks for the info.
You are right, that should not be hard coded. This will be fixed in the next release.

[2017-07-26 17:05] jBarz commented on #91
Fixed in https://github.com/ibmruntimes/node/commit/db1221e01aaa694ba596664a016a86539541cd36
The default /bin/sh should work just as well.

[2017-07-26 22:30] ghost opened #92 "node 'killed' when I try to run the example.js web server example"
I had a successful installation as far as I can tell, but when I run the sample program:

it is killed. Looking in the JES log, I see:
+CEE3798I ATTEMPTING TO TAKE A DUMP FOR ABEND U4087 TO DATA SET:
IBMUSER.D207.T1627305.P4010044
IGD100I 0AA3 ALLOCATED TO DDNAME SYS00003 DATACLAS (        )
IEA822I COMPLETE TRANSACTION DUMP WRITTEN TO IBMUSER.D207.T1627305.P4010
044
+CEE3797I LANGUAGE ENVIRONMENT

[2017-07-26 22:35] ghost commented on #92
I think I answered my own question. If I STEPLIB in the SCEERUN2, it seems to work, so perhaps I haven't installed the PTF after all...

[2017-07-26 23:25] mmallick-ca commented on #92
Hey Mike, I believe your installation has probably been successful the installer(unpack.pl) installs all the datasets under the users HLQ by default and hence you have to explicitly set your STEPLIB to pick it up during execution. The blogpost below has more details about getting started with the beta.

https://developer.ibm.com/node/2017/07/12/getting-started-node-js-beta-zos/

[2017-07-27 01:39] std3lqi commented on #91
Thanks! I'll verify it in the next release.

[2017-07-27 16:03] ghost commented on #92
Thanks mmallick-ca. As it turns out, not being a systems programmer, I had forgot to do:
/F LLA,REFRESH
to refresh SCEERUN2 dataset after installing the PTF.
Once I did that, I no longer needed the STEPLIB!

[2017-08-08 15:13] #92 closed, assigned to nobody

[2017-08-08 15:15] jBarz commented on #91
beta 3 should resolve this.
https://developer.ibm.com/node/sdk/ztp/

[2017-08-08 15:15] #91 closed, assigned to jBarz

[2017-08-17 10:31] matthewpwilson opened #93 "z/OS: V8 heap obtained from 31-bit MVS storage"
The V8 heap is allocated from 31-bit virtual storage. Due to the large size of the initial allocation, this means that the number of node instances that can be run concurrently in a single address space are severely limited.  Allocating the heap from 64-bit storage would remove this limitation.

In addition, the heap storage does not seem to be freed if the node process exits prematurely (e.g. if

[2017-08-17 10:34] matthewpwilson opened #94 "z/OS: A03 abend when using node as a shared library"
When linking node as a shared library, I experience an A03 abend when the LE enclave terminates. The threads still running are `SignalHandlerThread` and `DebugSignalThread`.
This occurs after `node::Start()` has completed with rc = 0

@mmallick-ca

[2017-08-28 13:36] jBarz commented on #94
This is fixed

[2017-08-28 13:36] #94 closed, assigned to jBarz

[2017-08-28 15:16] jBarz opened #95 "zos: abend when using --print_code"
[code]

[2017-08-30 13:45] jBarz commented on #95
fixed by
https://github.com/ibmruntimes/v8z/commit/aad6e0a9960af0c105e84f5b46e72eafe7530998

[2017-08-30 13:45] #95 closed, assigned to nobody

[2017-09-15 14:10] matthewpwilson opened #96 "worker threads not terminated cleanly on z/OS"
Running an app that makes HTTP requests, when the node process terminates several threads terminate without being undubbed. These appear to be libuv worker threads with the following stack:
1        CEEOPCW     +00000000              CELQLIB
2        pthread_cond_wait
                     +000001EE              CELQLIB
3        pthread_cond_wait_03
                     +00000018              CELQL

[2017-09-25 20:11] jBarz commented on #96
Provided @matthewpwilson with experimental binary.

[2017-10-04 16:23] rnchamberlain opened #97 "zOS compiler problem with escaped characters in native module code"
This code (in the appmetrics native module) is failing to compile:

`strScript = replaceInString("\\","/",strScript);`

Compiler output is:
[code]
0x5c, 0x22 and 0x2c are ASCII for backslash, double quote, comma

[2017-10-04 17:46] anisha-rohra commented on #97
Working on fixing this issue! A known conversion issue related to escapes, will update you as soon as I'm done.

[2017-10-06 15:56] rnchamberlain commented on #97
Note: this seems to be fixed, or has gone away, when I moved up from node v6.11.2 to latest v6.11.4 build on zOS. No change to the appmetrics C++ code, though there may have been other build changes.

[2017-10-14 03:24] mmallick-ca commented on #97
@rnchamberlain this was a known issue that we did not quite know how to deal with it earlier. I have just committed a change which is propagating through our build and test.
https://github.com/ibmruntimes/node/commit/039aa4efa2b1dfdd072fb089bf8ba0a938bb7f61
If all goes well it should propagate and be available in the next beta(and possibly the z/OS trial driver). I am not sure how the problem disa

[2017-10-18 16:07] eamondawes opened #98 "Different "npm install" behavior based on LPAR"
Running “npm install” with the same package and package-lock files results in different behavior depending on the LPAR. The install will succeed on some LPARs and fail on others. The LPARs are within the same PLEX and use shared DASD and HFS filesystems.  All environment settings are the same.

This is the package.json
[package.json.txt](https://github.com/ibmruntimes/node/files/1395380/package.js

[2017-10-18 21:11] mmallick-ca commented on #98
@eamondawes is the failure consistent on specific LPARS?

Looking at the message in install.txt it seems some temporary package.json file that is created when installing a dependency was not found.  It could be that file could not be created because there was not enough disk space?Could you share the verbose output from a successful and a failed install(npm install --verbose).

On our development

[2017-12-15 16:50] eamondawes opened #99 "Cannot install npm packages with git+ssh"
I am unable to install npm packages onto USS using the git+ssh syntax,  something I am able to do from Windows. This problem seems to be related to do with the function cb() never being called. In both of the below cases, I run the following commands in a new directory. I ensure I have ssh access to github from both environments. I am using [Rocket's version of git](http://www.rocketsoftware.com/p

[2017-12-18 23:27] mmallick-ca commented on #99
As far as I know Rocket's port of git is built with -qascii and as long as the appropriate environment variables are set the environment will convert all characters from ascii to ebcdic and vice versa. However there is an exception  when it comes to sockets and I believe the child processes in Node redirect their stdout to sockets which the parent consumes.

There is a workaround which will help y

[2017-12-19 16:25] eamondawes commented on #99
This works, I am able to download packages using git+ssh, but other commands (git log, git status e.g.) are now displayed as garbage. Having to switch between two different **git** commands is a hassle. Will this problem will have a more permanent solution in the future?

[2017-12-19 17:32] mmallick-ca commented on #99
Do you have _BPXK_AUTOCVT set to "ON"?  If you do and you are using the standard shell in USS then the regular git commands should not output garbage even when you are using the wrapper.
There is also the option of creating an alias for the non_wrapped git.

Rockets port of git is as an ASCII application so you will need the aforementioned environment variable set and also add FILETAG(AUTOCVT,AUTO

[2017-12-19 19:00] jBarz commented on #98
Hi Eamon, we managed to get hold of a parallel sysplex system and tried `npm install` using your package.json and it seemed to work fine.
I installed node on my home directory (Client=NO)
I then moved the whole workspace over to /tmp (CLIENT=NO but different owner) and then I got an error with `npm install`
[code]

Then I upgraded node to the latest PTF UI51561 (nodejs v6.11.4) and it worked fine.

[2017-12-20 06:39] rich335z commented on #99
I have this issue, as well. I encountered this with a custom node module (developed for internal use). I worked around the issue by (prematurely) publishing my module to our local npm registry and installing it as a "normal" npm dependency, but this is not an acceptable approach. I would expect to be able to install this kind of module from its git repo until it's been vetted and deemed acceptable

[2017-12-20 15:09] mmallick-ca commented on #99
I am in complete agreement with both of you with regards to the fact that the end user experience and behavior should be seamless. What I am trying to say though is that there are 4 pieces of technologies interacting here. NPM, Node, Git and the z/OS Unix System Services. Generally speaking, when the appropriate environment variables are set, any output from Git converted to EBCDIC when piped to a

[2017-12-20 15:20] zorts commented on #99
This issue is only going to get worse over time, as more of the Rocket ports transition to using -qascii.

It seems odd to me that node uses sockets, as opposed to pipes (which support autoconversion), to exchange data with child processes. I would think that would be easy to change.

[2017-12-20 15:26] mmallick-ca commented on #99
Yes, that is another option, to change the IPC mechanism from sockets to pipes. We need to look into the current implementation to see how big a change this is. However the risk we run there is that we diverge from the community implementation.

[2017-12-20 15:45] jBarz commented on #99
Pipes are unidirectional so there is additional overhead per child process with tracking read and write using 2 file descriptors instead of the one socket. I don't expect this change to be trivial.

[2017-12-20 15:57] jBarz commented on #98
We found a sysplex aware zfs mount with Client=Y.
Then we Installed node on that zfs.
Then created a directory on that mount and copied over your package.json and ran `npm install`.
That ran successfully as well.

I used node 6.11.2 which is the same version that you are using.

[2018-01-04 22:05] jBarz commented on #98
Fixed after upgrading to 6.11.4

[2018-01-10 14:49] ghost commented on #98
Hi @jBarz  - as you know this issue was not resolved via 6.11.4 as we thought.  Please reopen this issue.  Thanks.

[2018-01-10 19:36] ghost commented on #99
Any new ideas on how to solve this problem?  Do you have an estimate on the proposed switch over from sockets to pipes?  The proposed workaround of aliasing Git will not work.  Our build script could be coded to use an alias, but an individual developer's workflow would still be affected negatively.  We must support both scenarios from day 1.

[2018-01-10 22:02] mmallick-ca commented on #99
We investigated the pipes-> sockets switch and it seems there are other technical reasons why sockets are used to communicate with child processes in Nodes(passing sessions from parent -> child processes, passing ancillary information about filedescriptors etc). We have communicated with our USS colleagues and they are investigating solutions but I suspect any solution will not be available in the

[2018-01-10 22:10] zorts commented on #99
Everything Rocket ports to USS from this point on (and for about the last 18 months) is built -qascii.

[2018-01-11 14:15] jBarz commented on #99
In trying to investigate this, I tried to run the following git commands that emulate what npm is doing.

[code]

I get an error msg.
[code]

However, i also noticed that my git version is different from yours.
git version 2.3.5_os390_b011

Do you know if there is a way to work around this?

[2018-01-11 14:44] zorts commented on #99
I was able to successfully run the commands above, but, as you noted, with the more recent version of git:

[code]
The important parts of my environment look like this:

[code]

[2018-01-11 15:03] ghost commented on #99
Git is the only requirement at this point.  I bet Python will be needed, as it's used by the gyp build tool.

[2018-01-12 04:57] jBarz commented on #99
fwiw, I made some changes to the original in-built npm (3.10.10) that allowed me to do an `npm install git+ssh//...`
https://github.com/jBarz/node/commit/f28a6882b8d6276f2b374cb7ab106cb9bcac53dc

You could try and copy these files to your local installation and see if works for you.
[add-remote-git.js](https://raw.githubusercontent.com/jBarz/node/f28a6882b8d6276f2b374cb7ab106cb9bcac53dc/deps/npm/l

[2018-01-12 10:11] matthewpwilson commented on #96
Unfortunately we're still seeing this issue.

[2018-01-12 10:38] gireeshpunathil commented on #96
should the main thread explicitly issue `pthread_quiesce` on workers before exiting itself? @jBarz

[2018-01-12 19:00] jBarz commented on #96
@gireeshpunathil Thanks for that suggestion.
z/OS indeed provides a pthread_quiesce call which can do the following:
`Terminates all threads (except the invoking thread) that were created with pthread_create and IPT threads, allowing the signal interface routine to receive control when the quiesce request is delivered.`

However, I provided a binary to @matthewpwilson with that call being invoked

[2018-01-19 20:22] mmallick-ca commented on #98
Based on our debugging session today @eamondawes and @rocketjon we seem to have made some progress in narrowing down the reason that the failure occurs. Given that we are in agreement that the error has something to do with the filesystem and there isn't anything wrong in the Node runtime, I am going to close this issue.

[2018-01-19 20:22] #98 closed, assigned to mmallick-ca, jBarz

[2018-02-09 13:11] matthewpwilson opened #100 "z/OS: V8 heap not freed when application terminates abruptly"
We've noticed that after an application terminates abruptly, some storage remains allocated.  When trying to run Node again afterwards within the same address space, we see:

`# Fatal error in heap setup`
`# Allocation failed - process out of memory `

We've observed this behaviour in the following termination scenarios:
- JavaScript syntax error e.g. ReferenceError
- Application issues process.ex

[2018-02-09 13:12] matthewpwilson commented on #100
@joransiu @mmallick-ca as discussed

[2018-02-09 13:38] matthewpwilson opened #101 "Using signals to terminate Node application on z/OS"
Issue raised for discussion @joransiu @mmallick-ca

We've been investigating ways to terminate Node applications on z/OS using Unix signals. We'd like to have a way to signal an application to gracefully shutdown,  but also be able to terminate the Node runtime if the application doesn't go away by itself.

We're currently doing the following:
- Send SIGTERM
- Wait for up to 10s
- Send SIGKILL if

[2018-02-28 13:40] matthewpwilson commented on #96
I can confirm this issue is resolved with a fix provided by @jBarz

[2018-02-28 15:28] jBarz commented on #96
The upcoming PTF for February will have this fix. I will update this issue when it is released officially.

[2018-03-08 10:08] matthewpwilson opened #102 "z/OS: Intermittent U4094 abend when application issues process.exit()"
We have a test application that does http.createServer then issues process.exit(1). Approx 20-30% of the time we see a U4094 abend (reason code x'48') when the application terminates. I can supply a system dump.

Test case:
[code]

[2018-03-08 14:27] jBarz commented on #102
I will look into this. A system dump would help.

[2018-03-08 14:53] jBarz commented on #102
fyi, I have tried running this script in a loop for about 30 mins and haven't gotten an abend.
I was running under a USS env.
It might be that the abend is only reproducible in a CICS env.

[2018-03-08 15:32] jBarz commented on #102
fyi, I ran this script in a loop for over an hour using node 6.12.3 under USS and am not able to reproduce the abend. So a system dump would definitely be useful.

[2018-03-08 16:12] jBarz commented on #102
Got system dump offline

[2018-03-08 17:37] jBarz commented on #102
Which version of node is being used?

[2018-03-13 12:31] jBarz commented on #102
The system dump showed possibly that the abend occured because we were freeing a system resource while it was still being used.
I provided a test binary that closes all threads to ensure this doesn't happen

[2018-03-23 15:01] matthewpwilson commented on #102
Looks good with the test binary @jBarz supplied.

[2018-04-02 08:49] polyrabbit opened #103 "node keeps core dumping even executing itself"
Hi, I'm using the ported `node-v6.13.0-os390-s390x` on z/OS, but it always core dumps saying:

[code]

This error happens even running node without any script, do you have any clue on this issue? thanks for any help!

[2018-04-02 12:03] jBarz commented on #103
It seems like node is leaving behind system resources like queues/semaphores.
The new instances of node abend when the system resources limit has been reached.
Here is a simple script to cleanup

As a temporary workaround, use `ipcs` command to list system resources and `ipcrm` to cleanup.

You can also upgrade your version of node to the latest version (currently 6.13.0) which does a better job o

[2018-04-02 14:19] polyrabbit commented on #103
Many thanks for the help, `ipcrm` indeed works!!!

One more question, does `node 6.13.0` handle it correctly or I still need to do the cleanup occasionally?

[2018-04-02 14:26] jBarz commented on #103
A new version coming out this week (6.13.1) will have additional fixes for this specific issue which  improves on the prior release (6.13.0).
There are still some corner cases which leak system resources and we are working to fix those issues soon.

[2018-04-02 15:05] polyrabbit commented on #103
Thanks, look forward to it~

[2018-04-02 15:05] #103 closed, assigned to nobody

[2018-04-04 12:19] matthewpwilson commented on #100
We've got a possible workaround for this at our end, but need to do some further testing before we can be confident it's sufficient.

[2018-04-11 13:34] jBarz commented on #102
v6.13.1 is out which should resolve this issue.

[2018-04-11 13:34] #102 closed, assigned to jBarz

[2018-04-11 13:38] jBarz commented on #99
This issue has been resolved since v 6.12.3.2

[2018-04-11 13:38] #99 closed, assigned to mmallick-ca

[2018-04-11 13:39] jBarz commented on #96
Resolved in v6.13.1.0 available here https://developer.ibm.com/node/sdk/ztp/

[2018-04-11 13:39] #96 closed, assigned to jBarz

[2018-04-23 14:48] matthewpwilson commented on #100
We're happy our workaround resolves this issue so I don't think anything needs to be done in Node.

[2018-04-23 14:48] #100 closed, assigned to nobody

[2018-05-10 13:41] mmallick-ca commented on #93
We are working on adding support to allow the v8 heap to be allocate above the bar. We intend to use moservices to request/release this memory and hope to have a test driver/PTF available at the end of this month. To be able to use the memory above the bar the user will need to be on z/OS 2.3.

[2018-06-07 12:12] eamondawes opened #104 "Node using high amounts of CPU"
We have experienced node using over 50% of the CPU and clogging up our system. After working with IBM it seems like the latest version, 6.14.2, may solve our issue. I will install that version and watch out for this error again. Creating GitHub issue for community visibility.

[2018-06-07 16:29] chadseippel opened #105 "Where to get Perl 5.6.x?"
According to the doc (https://developer.ibm.com/node/sdk/ztp/#documentation-ztp), Perl 5.6.x or later is required. But the link given (http://www.rocketsoftware.com/zos-open-source/perl) only has 5.24. I attempted to install with 5.24 and I'm getting this error while running ./unpack.pl:

`$ ./unpack.pl
use: ./unpack.pl 3: FSUM7351 not found
use: ./unpack.pl 4: FSUM7351 not found
./unpack.pl 5: FS

[2018-06-07 18:00] jBarz commented on #105
It seems like `unpack.pl` is being run by the shell (`bin/sh`) instead of `perl`
Can you make sure that `perl` is in your PATH before you run `./unpack.pl` ?

[2018-06-07 18:20] chadseippel commented on #105
Thanks. That seemed to do the trick!

[2018-06-07 18:20] #105 closed, assigned to nobody

[2018-06-22 12:23] matthewpwilson commented on #93
We've tested the fix as supplied in 6.14.2 and can confirm we can see the heap storage being allocated in 64-bit storage with z/OS 2.3. Also on z/OS 2.2 we see dramatically smaller 31-bit storage requirements. A great improvement, thanks.

[2018-06-22 12:24] #93 closed, assigned to mmallick-ca

[2018-06-22 12:51] jBarz commented on #101
@matthewpwilson I believe this issue is fixed in 6.14.2.
Can you verify and close this issue?

[2018-06-22 13:02] matthewpwilson commented on #101
@jBarz I wasn't aware of a new mechanism in 6.14.2 for terminating applications without resorting to SIGKILL - have I missed something?
(The last part regarding cleaning up the heap might be fixed, but that's the crux of this issue as far I'm concerned)

[2018-06-22 13:28] jBarz commented on #101
We made a fix in 6.14.2 that ensures that SIGTERM does what it is supposed to do, i.e. Terminate the application gracefully (without the 10 second delay).
So you shouldn't ever need to use SIGKILL.
If there is a test case which does require you to issue a SIGKILL (with 6.14.2), that would be a problem that we will need to look into.

[2018-06-22 14:15] matthewpwilson commented on #101
Ah, cool.  We'll look into this and feed back - I think we do have some test cases that still require a SIGKIL with 6.14.2

[2018-06-25 11:13] jBarz commented on #101
ok, we will keep an eye out for those issues. Closing this one because of the SIGTERM fix.

[2018-06-25 11:13] #101 closed, assigned to nobody

[2018-06-25 11:15] jBarz commented on #89
If this issue no longer needs to be open, I will close it this week. If you are still seeing this issue, do let us know.

[2018-06-27 13:34] ghost commented on #104
Hi Guys -

Any update on tracking this down?

[2018-06-27 23:13] jBarz commented on #104
hi @rocketjon,
We noticed excessive cpu usage issues in 6.14.1 and had a resolution in 6.14.2.
@eamondawes Have you seen this occur with 6.14.2?
Another edge case was found in 6.14.2 and fixed in 6.14.3 (which comes out either this week or next week)

[2018-06-29 15:41] jBarz commented on #104
6.14.3 has just been released. I would suggest upgrading to evaluate that as well.

[2018-07-02 19:51] eamondawes commented on #104
I upgraded to 6.14.3 I'll keep an eye out for any issues

[2018-07-16 07:50] lw233 opened #106 "SafeSubmit::submit_jcl hang when running unpack.pl"
Hello,

When tried to run unpack.pl on z, it always hangs at the SafeSubmit::submit_jcl without any message or error.   Checked the log on z console, the JCL is success.   Used perl -d to debug the unpack.pl and hang at the SafeSubmit::submit_jcl too.   And it hangs for both install and uninstall.

my @jcl_output = SafeSubmit::submit_jcl(@receive_jcl);

My z is z/OS V2R2 with PTF UI46658.    Have

[2018-07-16 11:26] jBarz commented on #106
Did you download the trial version from here ?
https://developer.ibm.com/node/sdk/ztp/

If yes, did you set the following environment variable as the website suggested?
COMPILER_INSTALL_MSGCLASS

[2018-07-16 23:01] lw233 commented on #106
Yes, I download the trial version from this website.  And set the COMPILER_INSTALL_MSGCLASS to the value we always used.  The unpack.pl will hang.

[2018-07-17 15:28] jBarz commented on #106
When it hangs, could you open another shell and do `ps -ef` to see what it is hanging on?

[2018-07-18 00:16] lw233 commented on #106
From another shell, it seems those thread was hang..

L057898     131407   16909028  - 17:11:27 ttyp0000  0:00 sub -w /tmp/36j63KnQ9t
L057898   16909028   33686354  - 17:11:26 ttyp0000  0:00 /bin/sh -c export PATH=$PATH:./oebin && sub -w /tmp/36j63KnQ9t
L057898   50463561   33686334  - 17:11:26 ttyp0000  0:00 perl ./unpack.pl -uninstall

[2018-07-20 14:05] matthewpwilson opened #107 "z/OS: node-gyp fails when node installed on filesystem with $VERSION in the path"
When running npm install for a native module with node installed in the default location under /usr/lpp,
on one particular system the resolved path includes the $VERSION symbol (I believe this relates to shared zFS).   It appears node-gyp mangles this somehow, see output below.
If I instead install the node SDK in my home directory and put that in my PATH, npm install works OK.

make: Entering dir

[2018-07-24 15:28] jBarz commented on #107
A fix has been verified to work.
That fix has been commited here https://github.com/ibmruntimes/node/commit/bd5f46ae7d758c85d40984ba470424fd1174dd23
It should be available in the next release (after 6.14.3)

[2018-07-24 15:31] jBarz commented on #104
Hi @eamondawes, how is 6.14.3 doing?
Are we in a position to close this issue?

[2018-07-24 15:32] eamondawes commented on #104
I haven't heard from anyone about abnormally high CPU usage. I'm ok to close this.

[2018-07-24 15:33] jBarz commented on #104
ok, thanks. Please re-open if necessary.

[2018-09-13 14:42] eamondawes commented on #104
We have seen this come up again on 6.14.3
What do you want to know to go forward?

[2018-09-13 14:52] mhdawson commented on #104
@joransiu, @mmallick-ca FYI, since @jBarz is no longer around.

[2018-09-13 16:01] ghost commented on #104
FYIi - we are working with @mmallick-ca via email to provide documentation and steps to reproduce.

[2018-09-18 05:44] lw233 commented on #106
The problem is the LPAR missed ISF.SISFLOAD dataset.  So can not find SDSF and the he shell was hang.   It's fixed.  Thanks for your help.

[2018-09-18 05:44] #106 closed, assigned to nobody

[2018-09-18 14:18] patbossman commented on #104
I also see this issue fairly regularly.  What doc could I collect to support investigation?  @joransiu I could also give you access to a system if that helps.

[2018-09-18 15:57] joransiu commented on #104
@patbossman : That would be useful... I'll reach out to you on Slack.

[2018-09-18 17:29] ghost commented on #104
@patbossman - you the man!

[2018-09-19 03:19] zurcjoe opened #108 "./unpack.pl error code 3,4 - z/OS 2.2"
_Encountering the following issue when running ./unpack.pl of IBM SDK for nodejs_

**Performed the following prior to issuing ./unpack.pl**

**pax -rf ibm-6.14.3.0-trial-node-v6.14.3-os390-s390x.pax.Z -x pax**

**export COMPILER_INSTALL_MSGCLASS=A
export COMPILER_INSTALL_HLQ=JCRUZ**

_Running the following command to install the C/C++ compiler - produces the following error messages?_

**./unpack.

[2018-09-19 14:33] stevchen-ibm commented on #108
Hi @zurcjoe the issue is most likely due the missing /usr/bin/env on the system, can you please follow https://www.ibm.com/support/knowledgecenter/SSTRRS_6.0.0/com.ibm.nodejs.zos.v6.doc/env.htm to create it and try again?

Thanks,
Steven

[2018-09-19 20:17] zurcjoe commented on #108
Thanks Steven,

I will review and provide an update.

V/R,

Joe.

[2018-09-25 00:07] zurcjoe commented on #108
Thank you, problem resolved.

[2018-09-25 00:07] #108 closed, assigned to nobody

[2018-09-25 00:07] zurcjoe commented on #108
Problem resolved based on recommendation.

[2018-09-28 19:37] patbossman commented on #104
I do still reproduce this and killed nodeServer today - I will caution that I can also run for awhile without it.  I don't have a clean "if I do this, nodeServer goes crazy" trigger.

[2018-10-01 06:17] ifakhrutdinov commented on #104
@patbossman , to reproduce this issue a node instance has to create a message queue with a small ID value (e.g. 0x0000000A). Once it's done, it'll start looping when one of its file descriptors has the same ID value as the message queue.

One way to achieve that is:
* Start node, look at the "ipcs -q" output, if the lower two bytes of the node's message queue ID is relatively small, then stop node

[2018-10-01 12:08] patbossman commented on #104
@ifakhrutdinov ... how do I get the code?  It's been my experience once I hit it, even stop/start of the nodeServer, it is still looping.  So I would prefer to install the new node in a user directory, when I reproduce, I will kill the nodeServer and restart with the new node and validate it naturally.

[2018-10-01 12:32] ifakhrutdinov commented on #104
@patbossman, the new code can be found on the following branch https://github.com/ifakhrutdinov/node/tree/high-cpu-usage-fix (there is a PR https://github.com/ibmruntimes/node/pull/109), I can also provide the new binaries I built for z/OS.

[2018-10-01 12:57] patbossman commented on #104
@ifakhrutdinov I'm not sure how to build from source at the moment, it would certainly delay being able to check it out.  If I could get the new binaries, that would be great.

[2018-10-10 13:13] #55 closed

[2018-10-11 07:20] philippe-richard commented on #104
when i run npm install -g npm@5.4.2, then i get:
#npm install -dd -g npm@5.4.2
?øÁ>ËËÄ?>ÃÑÅÃ/ÑÁÀÁÊÊ?ÊËËÈÁ_%ÑÂÊ/ÊÃ?øÁ>áàäñ+?ËÍÄÇÃÑ%Á?ÊÀÑÊÁÄÈ?Ê`npm info it worked if it ends with ok
npm verb cli [ '/Z23R01/usr/lpp/IBM/node/node-v6.14.3-os390-s390x/bin/node',
npm verb cli '/var/zowe/0.9.0/EPHAN/tmp/bin/npm',
npm verb cli 'install',
npm verb cli '-dd',
npm verb cli '-g',
npm verb cli 'npm@5.4.2' ]
npm

[2018-10-11 07:22] philippe-richard commented on #104
btw, as you can see from the above display,  i already have npm 5.4.2 (which i installed locally and manually), but i had the same behavior with npm 3.10.10 which comes imbedded in nodejs 6.14.3 for z/OS

[2018-10-12 11:25] ifakhrutdinov commented on #104
I can see the new version of Node.js (v6.14.4) available, does it include the fix merged in https://github.com/ibmruntimes/node/pull/109?

[2018-10-12 13:31] joransiu commented on #104
@ifakhrutdinov : Yes... the 6.14.4.0 driver on [DeveloperWorks](https://developer.ibm.com/node/sdk/ztp/) does contain the fix.    The corresponding SMP/E installable should be out shortly.

[2018-10-12 13:33] philippe-richard commented on #104
ok will try to install it later today, and will report back. Thanks

Cordialement, Philippe
  ====================

Philippe richard1/France/IBM@IBMFR (n'oubliez pas le 1...)
IBM Client Center, Montpellier

mailto:philippe_richard@fr.ibm.com   Mail: Cie IBM France Sce 146301
Phone: +33 4 6799580705 (38 0705)    Rue de la Vieille Poste -CS 81021
Fax:       +33 4 67346477                      34060

[2018-10-12 13:39] joransiu commented on #104
@philippe-richard : Yeah, please let me know if you still hit this hang issue with 6.14.4.  If so, ping me on Slack, and I can work with you to collect some diagnostics.

[2018-10-12 13:58] philippe-richard commented on #104
Hi Jioran, could not spot your ID on the slack channel for ZOWE. What's
your id/name ?

Cordialement, Philippe
  ====================

Philippe richard1/France/IBM@IBMFR (n'oubliez pas le 1...)
IBM Client Center, Montpellier

mailto:philippe_richard@fr.ibm.com   Mail: Cie IBM France Sce 146301
Phone: +33 4 6799580705 (38 0705)    Rue de la Vieille Poste -CS 81021
Fax:       +33 4 67346477

[2018-10-12 14:43] philippe-richard commented on #104
Hey Joran
Good catch ! bingo ! it now works lile a charm. No longer any CPU burning
problem, and when i run 'npm install -g npm@5.4.2', it went to completion,
and i now have npm 5.4.2 installed and working
thanks for helping out on this issue

Cordialement, Philippe
  ====================

Philippe richard1/France/IBM@IBMFR (n'oubliez pas le 1...)
IBM Client Center, Montpellier

mailto:philippe_ri

[2018-10-12 15:03] philippe-richard commented on #104
all npm problems and CPU looping are solved after installing nodejs 4.16.4. You may clode the issue

[2018-10-14 04:25] likepunk commented on #89
We have the same issue - can't pass unpack.pl
`
:JCRUZ:/RPRT/zoe/nodejs/node-v6.14.3-os390-s390x:Ready set | grep MSG    
COMPILER_INSTALL_HELD_MSGCLASS="S"                                       
:JCRUZ:/RPRT/zoe/nodejs/node-v6.14.3-os390-s390x:Ready                   

./unpack 
IGD01007I DC: TEMP DATASET        
                                  
IGD01008I SC: TEMP DATASET        
             

[2018-10-15 13:32] joransiu commented on #89
Hi @likepunk :  Can you try `export COMPILER_INSTALL_MSGCLASS="S"` instead and see if it resolves your issue?   We had inadvertently introduced an incorrect change to the documentation for that environment variable, and fixed the documentation last week.

/cc @stevench2000

[2018-10-16 00:58] davidkjackson opened #110 "error running unpack.pl - Fails on z/OS 2.3 with an 8 character userid."
Attempting to install ZOWE.
I have removed the unrelated comments from this thread as the problem is now resolved with the help of Stephen Chen at IBM.  Please see my final comment at the bottom of this thread as to the problem.

[2018-10-16 01:14] likepunk commented on #89
Thanks @joransiu , but we got the same results again even with the export set. Any other suggestions/recommendations?

[2018-10-16 16:37] joransiu commented on #110
Hi @davidkjackson : I checked my locally installed version of Rocket's Perl 5.24, and I do see File/Basename.pm under the library path.   Can you issue a `perl -V` and check the @INC paths listed in your environment?  I suspect you are missing the directory that has File/Basename.pm - Maybe you need PERL5LIB defined.   For reference, the perl module is located`/rsusr/rocket/lib/perl5/5.24.0/File/B

[2018-10-16 16:44] joransiu commented on #107
This issue should be resolved with 6.14.4 that is now available.  @matthewpwilson: Can you please confirm the problem is resolved?  Thanks.

[2018-10-16 16:51] davidkjackson commented on #110
Thanks for the reply.
I checked the directory and yes they are present:
$ ls
Basename.pm    Copy.pm        Find.pm        Path.pm        stat.pm
Compare.pm     Fetch.pm       GlobMapper.pm  Temp.pm

The Rocket instructions state:
Example directory /rsusr/rocket :  On our systems, I use the directory /u/rocket and changed the commands below accordingly.

mkdir -p /u/rocket
gzip -d perl-5.24.0_<buil

[2018-10-16 16:53] joransiu commented on #110
Can you show the output of `perl -V` (with a capital V) -- that will show the @INC paths...

[2018-10-16 17:00] davidkjackson commented on #110
$ perl -V
Can't locate Config.pm in @INC (you may need to install the Config module) (@IN.
BEGIN failed--compilation aborted.

[2018-10-16 17:24] joransiu commented on #110
@davidkjackson , can you run `echo $PERL5LIB` and confirm that it does contain `/u/rocket/lib/perl5` before you execute `perl -V`?   Are you able to access that directory with the ID you are running perl?

[2018-10-17 13:07] joransiu commented on #97
Based on @mmallick-ca last comment, this should be fixed with the latest driver.  @rnchamberlain if you can confirm with the latest 6.14.4 driver, and reopen if you still problems with escaped chars.  Thanks!

[2018-10-17 13:07] #97 closed, assigned to mmallick-ca, anisha-rohra

[2018-10-17 17:28] joransiu commented on #110
@davidkjackson : Any luck with getting your perl installation to work?

[2018-10-17 17:29] joransiu commented on #107
@matthewpwilson : I'm going to close this issue as fixed.  Re-open if this persist in your environment or you have other concerns.

[2018-10-17 17:29] #107 closed, assigned to jBarz

[2018-10-17 17:31] joransiu commented on #74
ibm_db @ 2.4.1 supports work on z/OS using the ODBC driver support from Db2 on z/OS.

[2018-10-17 17:31] #74 closed, assigned to nobody

[2018-10-17 20:35] joransiu commented on #28
Just cleaning through old issues.  We and the Node.js community are still using GCC to build Node.js on AIX.... The XL C/C++ issues may still persist, but it's not a priority atm.    @xhappy, if this is still a concern for you, please reopen the issue, and we can explore next steps.

[2018-10-17 20:35] #28 closed

[2018-10-17 20:38] joransiu commented on #14
It's been 3 years since this issue been discussed, and I suspect a requirement to support Mac OS X on PPC is probably becoming less and less relevant.   Gonna close this item.

[2018-10-17 20:38] #14 closed

[2018-10-17 21:08] joransiu commented on #84
@std3lqi / @jBarz, cleaning through some old issues.  Based on the last set of comments, it sounds like @jBarz's changes https://github.com/ibmruntimes/node/commit/dfda95594220551860fd4c264a50c07f59081064 should have addressed this encoding issue for binary files?   If you need us to investigate some more, please re-open the issue.  Thanks!

[2018-10-17 21:08] #84 closed, assigned to jBarz

[2018-10-17 21:13] joransiu commented on #104
@eamondawes : Hopefully @ifakhrutdinov's fix from https://github.com/ibmruntimes/node/pull/109 resolves your high CPU usage too with the 6.14.4 driver.  Please re-open if that's not the case.  Thanks!

[2018-10-17 21:13] #104 closed, assigned to jBarz

[2018-10-17 21:19] joransiu commented on #32
This issue should be fixed by @gireeshpunathil referenced PR above.   I see from the code now that `sys/ahafs_evProds.h` include is guarded by `#ifdef HAVE_SYS_AHAFS_EVPRODS_H` [1].  Closing the issue.

[1] https://github.com/libuv/libuv/blob/v1.x/src/unix/aix.c#L55-L57

[2018-10-17 21:19] #32 closed

[2018-10-18 06:16] philippe-richard commented on #104
yes my issue with high cpu usage has been solved with node 6.14.4

Cordialement, Philippe
  ====================

Philippe richard1/France/IBM@IBMFR (n'oubliez pas le 1...)
IBM Client Center, Montpellier

mailto:philippe_richard@fr.ibm.com   Mail: Cie IBM France Sce 146301
Phone: +33 4 6799580705 (38 0705)    Rue de la Vieille Poste -CS 81021
Fax:       +33 4 67346477                      34060 Mo

[2018-10-18 14:46] davidkjackson commented on #110
Sorry for the late reply.
I restarted the install to use the same dirs that Rocket themself recommend. i.e. /usr/rocket. Reinstalled and then attempted. the node.js install again.
I am now getting this when I run the unpack.pl.

$ perl unpack.pl
cp: FSUMF171 cp/mv of link "/u/node.js/node-v6.14.4-os390-s390x/uss.images/util.
cp: FSUMF171 cp/mv of link "/u/node.js/node-v6.14.4-os390-s390x/uss.image

[2018-10-18 17:55] stevchen-ibm commented on #110
@davidkjackson
For the error that you are getting:
[code]
That was because the previous installation was partial and incomplete, please try to run unpack.pl -uninstall first to clean up the previous install and then do the unpack.pl again.

[2018-10-18 20:23] davidkjackson commented on #110
Thanks Steven - running uninstall then attempting the install again did help get past that problem.
Unfortunately, I am now getting this:

$ perl unpack.pl -uninstall
<DEB> deleting nodejs.ZOSV221.D170810.BINDER.LOAD
<DEB> cannot delete nodejs.ZOSV221.D170810.BINDER.LOAD -- has it already been d?
<DEB> deleting nodejs.ZOSV221.D170810.SCNJCMP
<DEB> cannot delete nodejs.ZOSV221.D170810.SCNJCMP -- ha

[2018-10-22 15:43] joransiu commented on #89
We had a web ex session with @likepunk and team.  The issue was that the `sed` tool that the script uses picked up the version that came with Rocket's python.   We'll update the `unpack.pl` tool to explicitly use `/bin/sed`.  With that, @likepunk was able to install Node.js successfully.

[2018-10-22 15:43] #89 closed, assigned to nobody

[2018-10-24 01:32] davidkjackson commented on #110
Any idea as to how to debug and trace this unpack.pl script so I can try to work out why it is failing?

[2018-10-24 13:23] stevchen-ibm commented on #110
@davidkjackson can you please send me an email at stevchen@ca.ibm.com? I can send you an updated perl module with more diagnostics to try it out.

[2018-10-26 02:50] lw233 opened #111 "Assertion failed: timeout != -1, file: ../deps/uv/src/unix/os390.c, line: 888, function: uv__io_poll"
My app runs on Z with the nodejs SDK on zos. I got error as below and my app was down,  do you have any idea on this? Thank you!

Assertion failed: timeout != -1, file: ../deps/uv/src/unix/os390.c, line: 888, function: uv__io_poll
CEE5207E The signal SIGABRT was received.

[2018-10-26 17:09] davidkjackson commented on #110
Thanks to Stephen Chen at IBM for assisting with this problem.
After running a diagnostic version of the code, it confirmed the problem.
**I am running on z/OS 2.3 and I am using a full 8 character userid.**  As a result, the unpack.pl code was attempting to append an extra character on the jobcard resulting in a 9 character Jobid.  This obviously resulted in a JCL error.  The diagnostics included

[2018-10-26 18:35] joransiu commented on #111
@lw233, thanks for raising this issue.  Can you confirm with node version you are currently using?  i.e. `node --version` output.

I believe the assertion you are hitting is: https://github.com/ibmruntimes/node/blob/v6.x.zos/deps/uv/src/unix/os390.c#L897

[2018-10-29 01:07] lw233 commented on #111
@joransiu  The node version is v6.14.3. The package used is the free-trial version. Thank you!

[2018-10-29 15:16] #110 closed, assigned to nobody

[2018-11-08 17:14] philippe-richard opened #112 "zowe editor plugin fails to build because of node-sass failure"
npm i for zowe-editor (among others) fails because there's a dependency on sass which needs a compiler, and assumes some  options which appear to not be parsed correctly for Z's nodejs; see the log below:

PRICHAR@X9:/X9/var/zowe/0.9.0/zlux-editor/webClient #npm i
?øÁ>ËËÄ?>ÃÑÅÃ/ÑÁÀÁÊÊ?ÊË`ËÈÁ_%ÑÂÊ/Ê`Ã?øÁ>áàäñ+?ËÍÄÇÃÑ%Á?ÊÀÑÊÁÄÈ?Ê`[..............

?øÁ>ËËÄ?>ÃÑÅÃ/ÑÁÀÁÊÊ?ÊË`ËÈÁ_%ÑÂÊ/Ê`Ã?øÁ>áàäñ+?ËÍÄÇÃÑ%

[2018-11-09 14:04] joransiu commented on #112
Hi @philippe-richard : Thanks for reporting this issue.  It looks like njsc++ currently doesn't support `-std=c++0x` option.  This was specified in https://github.com/sass/node-sass/blob/master/binding.gyp#L85.   I'm checking with our C/C++ colleagues about this support.  We may have to add a zOS rule in there to not specify the option, and see if that allows libsass to compile and function proper

[2018-11-12 22:26] thomas-km-liu opened #113 "unpack.pl expecting SDSF"
Hi,
Trying to install the C/C++ runtime and compiler that came with ibm-6.14.4.1-trial-node-v6.14.4-os390-s390x.pax.Z by running unpack.pl
Exported the 3 COMPILER environment variables per:
export COMPILER_INSTALL_MSGCLASS=V
export COMPILER_INSTALL_HLQ=SFT
export COMPILER_INSTALL_VERBOSE=1

msgclass V is an held output class.
unpack.pl issued the following 2 message and hangs:
<DEB> unloading /SYS

[2018-11-13 14:42] stevchen-ibm commented on #113
Hi @thomas-km-liu ,
Sorry to hear about your problem.
Unfortunately, currently unpack.pl installation does require availability of SDSF on the system (*and* the necessary access to use it as or it will hang, see issue 106 for details), which is used by the script to submit JES2 jobs and checking status of the jobs.
Please note that we do have the SMP/E version now available in shopZ with no charge

[2018-11-14 16:35] FrancisDBurgess opened #114 "Unable to Install Node in to a z/OS 2.3 Environment"
The z/OS Node JS installation logic has a hard prereq in it's SMPMCS (part of the installation logic) of FMID HLE77A0 which it turns is Language Environment (LE) and there are no supplied
jobs to allow you to create your own SMP/E environment, so the simplest and most unsafe way is to install Node in to the same SMP/E environment as LE in order to fulfill the hard prereq. This turned out to be ok

[2018-11-14 16:39] joransiu commented on #114
@stevchen-ibm : Can you comment on this?

[2018-11-14 16:49] stevchen-ibm commented on #114
Please refer to this technote: https://www-01.ibm.com/support/docview.wss?uid=ibm10719725
TL;DR:
For V6, please follow the instructions there to update the install sample jobs accordingly.
We will fix this in the future version by separating the LE stubs and removing the hard dependencies on LE in the same SMP/E zone.

[2018-11-14 23:14] thomas-km-liu commented on #113
Hi Steven,
Made a few changes to oebin/sub and unpack.pl and completed the unpack process.  However, the bin/njsc.cfg used in the IVP assumed all the LE and Runtime Library Extension dataset to be have HLQ of CEE.  But ours all have HLP of SYS1.  I had to change all of the to SYS1.CEE.* & SYS1.CBC.* before the IVP would work (and the whole unpack.pl worked from beginning to end).  Might be there s

[2018-11-15 03:45] thomas-km-liu opened #115 "npm format error for help"
Hi,
On z/OS, when I try the following command:

npm help npm

I get (after a little flash - this is logging into USS via PuTTY):

FSUMF061 Cannot format /usr/lpp/Node.js/lib/node_modules/npm/man/man1/npm.1

If I try the same via TSO OMVS, I see the following:

-Ý?25lÝ-Ý90m..................-Ý0m¨ \ : -Ý34;40mverb-Ý0m -Ý35mconfig-Ý0m Skippin
-ÝK-Ý?25hFSUMF061 Cannot format /usr/lpp/Node.js/lib/node_

[2018-11-15 14:06] stevchen-ibm commented on #113
Hi Thomas,
Absolutely.
This (with environment variables to replace HLQ for LE and RTE) together with some other minor improvements have already been discussed and worked on for next major update of the scripts. Thanks for your feedback and glad that you have made it worked from beginning to the end now.
Regards,
Steven

[2018-11-16 10:02] matthewpwilson opened #116 "npm on z/OS overwrites temporary header files when running in parallel"
We run multiple npm installs in parallel as part of a build script. These installs perform node-gyp rebuilds of native addons  They reference a common include directory for header files.

If two builds interleave in a particular way, they both attempt to create a temporary UTF-8 copy of a header file (myheader_temp.h) at the same time.  This results in two interleaved copies of the header in the s

[2018-11-27 06:44] johnottogood opened #117 "z/OS Configuration page has incorrect paths for the PATH configuration statements"
On the Installing and configuring page:(https://www.ibm.com/support/knowledgecenter/SSTRRS_6.0.0/com.ibm.nodejs.zos.v6.doc/install.htm)
 -under environment variables, it has this for the suggested PATH:

export PATH=$PATH:$PathPrefix/usr/lpp/nodejs/usr/lpp/IBM/cnj/IBM
/node-latest-os390-s390x/bin:$PathPrefix/usr/lpp/nodejs/usr/lpp/IBM/cnj/njsc/bin:
/rsusr/rocket/bin

It seems the "/usr/lpp/nodejs"

[2018-11-27 17:04] joransiu commented on #117
Thanks @johnottogood.  You are correct.  We'll get the page updated.  Thanks for raising this issue!

[2018-11-28 19:43] joransiu commented on #117
@johnottogood, https://www.ibm.com/support/knowledgecenter/SSTRRS_6.0.0/com.ibm.nodejs.zos.v6.doc/install.htm has now been updated with the correct PATH.  Many thanks again for pointing this out.

[2018-11-28 19:43] #117 closed, assigned to nobody

[2018-12-06 14:46] mmueller-sag opened #118 ""npm install ref" fails on z/OS compiler error CNJ5200 option "-fno-omit-frame-pointer" not supported"
When trying to install package 'ffi' the package 'ref' comes as a prerequisite.

Is this some problem of the z/OS runtime?  How can it be fixed?

Here is the more detailed output

make: Entering directory '/u/mm/p/node-v6.14.4-os390-s390x/bin/node_modules/ref/build'
  CXX(target) Release/obj.target/binding/src/binding.o
error: CNJ5200 The option "-fno-omit-frame-pointer" is not supported.
error: C

[2018-12-06 23:47] joransiu commented on #118
@mmueller-sag : Did you install a different version of npm or node-gyp?  I suspect that the option error is related to using a node-gyp level that is not "zOS" aware.

Can you confirm with the specific versions of npm and/or node-gyp you are currently using?

[2018-12-07 14:16] joransiu commented on #115
Sorry for the delay @thomas-km-liu.  I've reproduced the issue locally and will take a look.  Thanks!

[2018-12-07 16:38] bnoordhuis commented on #118
I'm reasonably sure (say 95%) that `-fno-omit-framepointer` is inherited from node's common.gypi. node-gyp includes that file when it builds an add-on.

That switch is currently enabled on [all platforms except windows and macos](https://github.com/nodejs/node/blob/7468c56742a726e18b0b6583d0ce9c6b50f2bce0/common.gypi#L210-L212). Perhaps z/os should be added to the list as well?

[2018-12-07 17:21] richardlau commented on #118
It is on the copy of `common.gypi` in this repository https://github.com/ibmruntimes/node/blob/0b5af754618ac0f7585de52550b77aa92c94b4e7/common.gypi#L146-L148 but I think `node-gyp` uses the one from the headers tarball unless `--nodedir` is used?

[2018-12-07 23:16] bnoordhuis commented on #118
Correct.

[2018-12-27 04:51] johnottogood opened #119 "Mixed code page, or other garbled output when installing ibm_db module"
Installing the ibm_db module, I get what seems might be mixed code page output, or some other odd escape sequence behavior:

/u/jgood/nodejs> npm install ibm_db

oput 'DSN1210.DB2.SDSNMACS(DSNAO64C)' '/u/jgood/nodejs/node_modules/ibm_db/build/dsnao64c.x'
_/,����>����>ŀ������?�`�▒▒��??�>?����>?��^_?��%����_^�����%�▒▒  CXX(target) Release/obj.target/odbc_bindings/src/odbc.o
  CXX(target) Release/obj

[2019-01-02 15:57] joransiu commented on #119
@johnottogood :  That might be related to the encoding of 'make' stdout/stderr output.  The zOS Enhanced ASCII support does not auto conversion over sockets.

I believe we had added some custom handling for the Rocket tools that are -qascii compiled.   Can you confirm the 'make' version you are using, and where 'make' is located on your system?

[2019-01-05 21:29] johnottogood commented on #119
Sorry for the delay.
I was cleaning up the environment and unsettled it, so I had to get back to where I could get ibm_db to build.

Using the Rocket produce make 4.0, I do not get the garbled output.
Using Rocket 4.1, I get the garbled output, even with _BPXK_AUTOCVT=ON and _CEE_RUNOPTS='FILETAG(AUTOCVT,AUTOTAG) exported.

make location:
I put the path containing the 4.1 make (/shared/rocket2/bin

[2019-01-21 17:59] KungFuJesus commented on #30
I ran into this on my G5 trying to build nodejs as a build dependency for firefox.  The illegal instruction I end up halting on is friz.  Just out of curiosity, is there any intrinsic value in using the POWER5+ only instruction for rounding doubles to integers as opposed to using the PPC/PPC64 equivalent?  I think the older instructions work with POWER as well (they were in POWER4, I think), so it

[2019-01-21 22:11] joransiu commented on #30
Hi @KungFuJesus, yeah, using `friz` and other mode explicit instructions allows us to skip setting the rounding mode in the floating point status and control register, which would cause slowdown of the pipeline.

As for the `frim` hacks you mentioned, I suspect you are referring to the `FPU` CPU check in V8.  Looking at the latest V8 master, despite the check, we have not implemented the fall-back

[2019-01-21 22:38] KungFuJesus commented on #30
Now that I need this to even attempt to build firefox (supposedly skia support was fixed for big endian architectures at some point, I'll have to see about this), I'm probably going to make an attempt at least at a patch.  A very significant difference I also noticed is that the PPC variations of those instructions are floating point to fixed point instructions, rather than floating point to float

[2019-02-07 16:11] scottrpoulin commented on #32
If AIX doesn't have sys/ahafs_evProds.h
it won't be able to execute uv__fs_event_close, thus libuv make check will fail?

[2019-02-19 09:35] lp419665 opened #120 "unpack.pl compilation aborted"
I'm getting compilation error in unpack.pl script:

A013129:/shared/nodejs/node-v6.16.0-os390-s390x: >perl unpack.pl
Can't locate File/Basename.pm in @INC (you may need to install the File::Basename module) (@INC contains: /rsusr/rocket/lib/perl5/site_perl/5.24.0/os390 /rsusr/rocket/lib/perl5/site_perl/5.24.0 /rsusr/rocket/lib/perl5/5.24.0/os390 /rsusr/rocket/lib/perl5/5.24.0 .) at unpack.pl line

[2019-02-21 16:38] joransiu commented on #120
@lp419665 : This looks like a configuration issue with your perl installation.  Can you confirm if `Basename.pm` is found within `/rsusr/rocket/lib/perl5/5.24.0/File`?  That's where it's found on my installation.

[2019-02-22 12:19] lp419665 commented on #120
Thank you. I sorted it out. It was issue with Perl installation.

[2019-02-22 12:19] #120 closed, assigned to nobody

[2019-03-02 03:37] johnottogood opened #121 "os.totalmem() and os.freemem() return incorrect values"
* **Version**: 6.14.3
* **Platform**: OS/390 MLZ1 26.00 04 2964
* **Subsystem**: os

The values returned by os.totalmem() and os.freemem() are very incorrect
On a z/OS 2.3 system system with 100GB of memory, this is what I get from the os calls:

/u/jgood> node

443241535480283100

392770343992819840

[2019-03-03 02:38] joransiu commented on #121
Thanks @johnottogood.  @ccw-1 recently spotted the same issue; the rcepool field we are dereferencing for the memory values should be treated as unsigned ints.

[2019-03-04 18:09] sam-github commented on #121
@joransiu will you  or @miladfarca PR a fix, or can you point me at the code and I will?

[2019-03-04 18:17] joransiu commented on #121
Thanks @sam-github. @ccw-1 has reproduced and identified a prototype fix... looking for him to contribute.

[2019-04-18 12:40] mgerth opened #122 ""npm install" for dependency ffi fails on z/OS"
I've a project where I need to call a shared library from Node.js. To achieve this I used "Node.js Foreign Function Interface" (https://github.com/node-ffi/node-ffi)... unfortunately the install stops with an error. I stripped down the package.json file to make it as simple as possible:

[code]

Here is the output of the "npm i" command:

My environment is the following:

I assume that it is a pro

[2019-04-18 13:13] richardlau commented on #122
Looking at the build scripts for `node-ffi`, when building its [`deps/libffi`](https://github.com/node-ffi/node-ffi/tree/master/deps/libffi) it has this for `include_dirs`:
https://github.com/node-ffi/node-ffi/blob/169773db0d56c4c99225b307b3dc86a46f3af34d/deps/libffi/libffi.gyp#L106-L110
[code]

Looking at https://github.com/node-ffi/node-ffi/tree/master/deps/libffi/config there is no generated co

[2019-04-18 13:52] mgerth commented on #122
@richardlau: Thanks for the quick answer ...

Unfortunately the configure fails:
[code]

[2019-04-18 14:07] richardlau commented on #122
Looks like this is from here https://github.com/node-ffi/node-ffi/blob/d9b843c03b35b99f205d001ebcbedd1b6c63b3d0/deps/libffi/configure.ac#L212 which has a `case` statement a few lines above it.

[2019-04-24 20:21] #113 closed, assigned to nobody

[2019-04-24 20:21] #114 closed, assigned to IgorTodorovskiIBM

[2019-05-30 15:48] joeyb0719 opened #123 "i downloaded ibm-node-v8.15.1-beta-s390x_20190422 . PAX -rf ibm-node-v8.15.1-beta-s390x_20190422. IBMUSER:/u/ibmuser: >node CEE3559S External variable _ZTISt12length_error was not found in DLL CXXRT64. The traceback information could not be determined. [1] + Done(137) node 67174623 Killed /ZOWE/node/node-v8.15.1-os390-s390x/bin/node IBMUSER:/u/ibmuser: > .pax.Z -x pax. ran node and get the following error."
* **Version**:
* **Platform**:
* **Subsystem**:

[2019-05-31 13:48] yugeshpothuru commented on #90
can one of you let me know what is the steplib to be added. I'm also having the same issues.

[2019-05-31 15:25] yugeshpothuru commented on #89
Hi,
we are running zOS 2.2 and I'm trying to install the node.js and run the unpack.pl but it is failing as below.

I have checked the module CELHDCPP for the string get_new_handler__3stdFv I don't see it in my zOS 2.2 but when I check a 2.3 system I to see it.

Can someone help me to bypass this or modify the unpack.pl to run on zOS 2.2?

<DEB> processing file /S0W1/var/zowe/zowerun/nodejs/bin/xl

[2019-05-31 16:23] yugeshpothuru opened #124 "errors running unpack.pl"
Hi Team,
I'm trying to run node.js on mainframe.

server -- mainframe
zOS  -- 2.2
node.js -- v6.17.0

the unpack.pl failed with error
<DEB> processing file /S0W1/var/zowe/zowerun/nodejs/bin/xlclang
<DEB> processing file /S0W1/var/zowe/zowerun/nodejs/bin/xlclang++
<INFO> running : /S0W1/var/zowe/zowerun/nodejs/bin/njsc++ ._temp.hello.cpp -o he
llo -qphaseid && /S0W1/var/zowe/zowerun/nodejs/bin/run

[2019-05-31 16:30] joransiu commented on #124
@stevchen-ibm: ^^

[2019-05-31 16:34] yugeshpothuru opened #125 "STEPLIB for running npm on Mainframe"
Hi Team,

server: mainframe
OS : zOS 2.2
npm : npm --version fails.

IBMUSER:/S0W1/var/zowe/zowerun/nodejs: >npm
[1] + Done(137) npm
  83951718      Killed  /var/zowe/zowerun/nodejs/bin/npm

I tried to fix it as per the instructions in
https://github.com/ibmruntimes/node/issues/90

but in the issue it is said that we need to use a STEPLIB. can I know to what dataset do we need to point this STEPLI

[2019-05-31 16:48] yugeshpothuru commented on #124
Hi joransiu,

I don't see your commetns.. can you post them again

[2019-05-31 17:00] stevchen-ibm commented on #124
@yugeshpothuru can you please make sure or work with your system programmer to make sure the z/OS V2.2 APAR/PTF PI79959/UI46658 is installed on the system?
(See the Software Prerequisites section in https://www.ibm.com/support/knowledgecenter/en/SSTRRS_6.0.0/com.ibm.nodejs.zos.v6.doc/install.htm for more information)

[2019-05-31 17:15] joransiu commented on #124
Thanks @stevchen-ibm.   @yugeshpothuru, sorry, I was just tagging @stevchen-ibm, who is our SME in this area. :)   Please let us know if the pre-requisite PTF is installed on your system.

@stevchen-ibm, independently, should we consider making a friendly check / error message if the PTF is not installed?

[2019-05-31 19:49] 1000TurquoisePogs commented on #112
This seems to still be true with the 8.15.1 beta:
[code]

[2019-06-11 22:25] richardlau commented on #125
Please see https://www.ibm.com/support/knowledgecenter/SSTRRS_8.0.0/com.ibm.nodejs.zos.v8.doc/install.htm.

[2019-06-28 11:03] yugeshpothuru opened #127 "ZOWESVR error : Eureka request : connection refused."
Problem making eureka request { Error: connect ECONNREFUSED 10.242.55.48:10011
    at Object.exports._errnoException (util.js:1020:11)
    at exports._exceptionWithHostPort (util.js:1043:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1099:14)
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '10.242.55.48',
  port: 10011 }

Receiving this error. I ha

[2019-06-28 13:31] yugeshpothuru commented on #127
i'm running zowe in a zpdt system.

[2019-07-16 11:40] mrmikopi opened #128 "Error installing Node: "CEE3501S Module CXXRT64 was not found""
* **Version**: v8.16.0
* **Platform**: UNIX on z/OS 2.2
* **Subsystem**:

While trying to install Node.js on z/OS 2.2, we encountered an error with code CEE3501S. Node is required for Zowe. I guess there are some PTFs but they are for zOS 2.3, as far as i know.

That would be great if there is a workaround instead of PTFs, otherwise it would be really hard for our working site.

[2019-07-18 18:30] joransiu commented on #128
Hi @mrmikopi, the pre-requisite PTFs for V2.2 are documented under: https://www.ibm.com/support/knowledgecenter/SSTRRS_8.0.0/com.ibm.nodejs.zos.v8.doc/smpe.htm

The missing CXXRT64 does seem to imply you are missing the pre-req LE PTF.  We unfortunately do not ship that LE library to STEPLIB to.  Any chance you can get the PTFs applied?

[2019-07-19 10:41] mrmikopi commented on #128
Business site is available to apply PTFs, but it will take a long time until that happens. That's why we were seeking any workarounds.
Thanks for your help.

[2019-08-10 10:05] awilfox commented on #30
This is my naive attempt at reimplementing each of the four instructions using the PowerPC instructions.  I have admittedly never touched an FPU in assembly language (on any CPU) before today.

In my own testing, comparing to the musl C library's implementations of floor/round/ceil/trunc, they give me the same results on a POWER9 as the single instructions do, with the exception of values in [-0.0

[2019-08-21 16:25] matthewpwilson commented on #116
Temporary files are no longer produced with the Node 8 version of njsc++.

[2019-08-21 16:25] #116 closed, assigned to nobody

[2019-09-13 07:25] Rajeckum opened #137 "S0C4 Abend"
CEE3204S The system detected a protection exception (System Completion Code=0C4).
         From compile unit TLBA99ME:/home/jenkins/workspace/ibmnode-8.x-zos-build/node/deps/v8z/src/heap/spaces.cc at entry point v8::internal::MemoryChunk::Initialize(v8::internal::Heap*, unsigned char*, unsigned long, u... at statement 555 at compile
         unit offset +00000000337858F4 at entry offset +000000000

[2019-09-13 07:26] Rajeckum commented on #137
As per IBM reference in https://www.ibm.com/support/knowledgecenter/en/SSTRRS_6.0.0/com.ibm.nodejs.zos.v6.doc/troubleshoot.htm, I've cleared semaphores with ipcrm command. It works for first time and then again it gets abended with S0C4.

Kindly advise.

[2019-09-13 07:30] Rajeckum commented on #128
I encountered the similar issue and once I got the PTFs applied, it has been resolved.

[2019-09-18 11:56] IgorTodorovskiIBM commented on #137
Hi Rajeckum,

It seems that you are not on the latest PTF level of Version 6.    Please see https://www.ibm.com/support/pages/fix-list-ibm-sdk-nodejs-zos for the latest fixes.   The latest level is 6.17.

If possible, I would recommend that you upgrade to IBM SDK for Node.js - z/OS, Version 8 - Available here: https://www.ibm.com/us-en/marketplace/sdk-nodejs-compiler-zos/purchase

[2019-09-18 14:25] IgorTodorovskiIBM commented on #137
Can you also confirm if you're using Node 6.14.4 as the path may not indicate the true version:
`node --version`

Can you also let us know what OS/arch you are using:
`uname -a`

[2019-09-19 06:59] Rajeckum commented on #137
node --version ------------> v8.16.0
uname -a -------------> OS/390 MSYS 25.00 04 2964

[2019-09-24 19:15] IgorTodorovskiIBM commented on #137
Hi, can you set this environment variable: `export __MEM_ACCOUNT=1` and rerun and post your output.  Thanks

[2019-09-25 03:43] Rajeckum commented on #137
Hi Igor,

Thanks for the advise. Here is the output.

/usr/lpp/node-v6.14.4-os390-s390x/bin: >export __MEM_ACCOUNT=1
/usr/lpp/node-v6.14.4-os390-s390x/bin: >npm -v
__iarv64_alloc: pid 50397721 tid 1 ptr=7FFFF000 size=536870912 rc=8
ADDED:@50082f79d0 size 536870912 RMODE64
__iarv64_alloc: pid 50397721 tid 1 ptr=A2200000 size=1048576 rc=0
ADDED:@a2200000 size 1048576 RMODE64
__iarv64_alloc: pid 5039

[2019-09-25 09:55] kashifzowe opened #138 "npm commands throwing error - FSUM7332 syntax error: got), expecting Newline"
* **8.16.0**:
* **OS/390**:
* **Subsystem**:

Hi,
I have installed an evaluation version of Node.js on Mainframe (z/OS USS). When I run the command node --version I get a good output. However, when I run npm --version I get the error
FSUM7332 syntax error: got), expecting Newline

I would appreciate any help here...

Thank you.

[2019-10-01 02:43] Rajeckum commented on #137
Hi Igor,

Any advise?

Thanks,
Rajesh Kumar C

[2019-10-13 11:23] kridency commented on #30
Having NAS based on POWER QUICC III. Also getting "Illegal instruction" after npm run. Should one hold out any hope for future implementation processor specific instruction?

[2019-10-13 22:17] joransiu commented on #30
We have not had the opportunity to add the fallback paths as @awilfox had developed... we'd need to address the [-0.0..-0.9] results also.

My bigger concern is that the latest Node.js and V8 itself support 64-bit only on POWER.   32-bit paths are neither tested nor maintained moving forwards -- even if we integrate the fallback paths for the FPU instructions as above into V8 master, there are no

[2019-10-17 10:17] DNikolaevAtRocket opened #142 "Unexpected autoencoding behavior of v8.16.1"
* **Version**:  8.16.1
* **Platform**: OS/390 SS01 26.00 04 3906
* **Subsystem**: n/a

v8.16.1 performs auto-encoding depending on file tags not in a way it is done in previous versions.
Regardless of which way is more reasonable, it's a breaking change which is not expected in a micro release.

Please see the table below.

| File tag \ NodeJS version | v6.17 | v8.16.0  |  v8.16.1 |
| ------------

[2019-10-17 15:16] IgorTodorovskiIBM commented on #142
Hi, we introduced an environment variable to control auto-conversion for untagged files.  We made this change after GA to address untagged repositories that contain ebcdic and binary data.  Previous behaviour did not allow this.
[code]
Can you try to set `export __UNTAGGED_READ_MODE=V6`.

Do you have a specific example of what is currently breaking?

Their may be an issue with the heuristic used i

[2019-10-17 15:41] DNikolaevAtRocket commented on #142
Hi @IgorTodorovskiIBM,

Thank you for the response, the variable worked.
We'll be back with examples later.

@1000TurquoisePogs,
Is the examples something you could help with?

[2019-10-17 16:01] Joe-Winchester commented on #142
@dmitrynikolaev - is the problem you see that all of the graphics disappear and also apps like TN3270 fail to load, ...
![image](https://user-images.githubusercontent.com/28100302/67026511-c7beae80-f0ff-11e9-99f1-e78a475e8a45.png)

[2019-10-17 16:04] Joe-Winchester commented on #142
@IgorTodorovskiIBM - do you have a build that is post GA that works if the `export __UNTAGGED_READ_MODE=V6` is set ?  If so I'd be happy to test that and also we could update the `run-zowe.sh` script to do the export

[2019-10-17 16:05] DNikolaevAtRocket commented on #142
@Joe-Winchester,
That's correct.

[2019-10-17 16:05] IgorTodorovskiIBM commented on #142
Yes, you can download ibm-8.16.1a-os390-s390x.pax.Z  (288 MB)   from here: https://www.ibm.com/ca-en/marketplace/sdk-nodejs-compiler-zos

[2019-10-17 16:05] IgorTodorovskiIBM commented on #142
I made the GA v8.16.0 available as well

[2019-10-17 16:06] DNikolaevAtRocket commented on #142
Thank you @IgorTodorovskiIBM

[2019-10-17 16:09] Joe-Winchester commented on #142
Tks @IgorTodorovskiIBM - how long will this link be available ?  Can we put it in the zowe docs for our release ?

[2019-10-17 16:09] IgorTodorovskiIBM commented on #142
We're in the processing of building another PTF for Node v8, so we can look at potentially fixing this issue or worst case, reverting to export __UNTAGGED_READ_MODE=V6 if it works.

[2019-10-17 16:10] IgorTodorovskiIBM commented on #142
Yes, it should be available indefinitely

[2019-10-17 18:02] IgorTodorovskiIBM commented on #142
If `export __UNTAGGED_READ_MODE=V6` works, then you should be able to modify your run-zowe.sh for all Node versions to include that envar.  You will get the same behaviour.  I would recommend that approach since we do have some memory related fixes in the Node v8 PTFs.

Another solution would be to tag your untagged files using the chtag command.
`chtag -tc 1047 <filename>` or `chtag -tc binary <f

[2019-10-17 18:47] IgorTodorovskiIBM commented on #142
After some discussion, we decided that we will revert __UNTAGGED_READ_MODE to V6 in the next Node v8 PTF.  We also noticed an issue with our current implementation of  __UNTAGGED_READ_MODE=V6, where it is converting both untagged and tagged files from 1047 to ASCII.  We plan to address this in the next PTF.   Right now I would recommend that customers use Node v8.16.0 until the next PTF is issued.

[2019-10-17 22:44] Joe-Winchester commented on #142
Are you going to pull 8.16.1 from the site until your PTF is out ?

I agree we should tag everything as you suggest to avoid any untagged file, but this is going to take us some time to get right and test and have our .pax build preserve, ...

We are doing a mod to our Zowe 1.6 build to do the `export __UNTAGGED_READ_MODE=v6` as you suggest however older builds without this will fail with 8.16.1.

[2019-10-18 00:44] IgorTodorovskiIBM commented on #142
v8.16.1 has an additional memory leak fix that affected some clients.  We will push for a PTF release for early next week.

[2019-10-18 00:58] ehrocha commented on #142
FYI,I have tried adding export __UNTAGGED_READ_MODE=V6 to the run-zowe.sh, did not work with the 8.16.1a version . Still not drawing assets correctly .

[2019-10-18 20:57] kridency commented on #30
Thanks for your reply.

[2019-10-21 16:12] IgorTodorovskiIBM commented on #142
Do you have a zowe log with the Node.js error?  The screenshot reveals a FE or UI issue, but no details on the Node.js issue.

@dmitrynikolaev, you mentioned the `export __UNTAGGED_READ_MODE=V6` setting worked.  In what context?

I noticed a few of the untagged Javascript files in the Zowe 1.5.0 distribution contain a mix of EBCDIC and Unicode data.

For example: `./zlux-server-framework/node_modu

[2019-10-21 20:39] Joe-Winchester commented on #142
Where did you add the line ?  I created a branch where it was included at line 93 and it seemed to work OK for our automation and manual tests.  https://github.com/zowe/zowe-install-packaging/blob/rc/scripts/run-zowe.template.sh.

[2019-10-22 06:29] DNikolaevAtRocket commented on #142
@IgorTodorovskiIBM

There's nothing particular in Zowe log; NodeJS server serves the files as usually, but the encoding is wrong which we can see only on client (browser) side.
@1000TurquoisePogs, can you please provide technical details on the NodeJS side of the problem?

We don't build this part of Zowe on Z for a number of reasons,
It's being built on a distributed system, then **everything** g

[2019-10-22 18:40] IgorTodorovskiIBM commented on #142
Just a warning, if you start introducing node.js native npm dependencies (C/C++ npms) such as the bcrypt npm to zowe, then building on a distributed system may be an issue as there is no cross-compiler for z/OS.

Converting UTF8/ASCII encoded files to EBCDIC can potentially lead to functional issues, especially if the npm package uses Unicode symbols in strings, which is supported: https://flavioc

[2019-10-30 14:27] IgorTodorovskiIBM commented on #138
Hi,

You will need the following environment variables (as described here: https://rtpdoc01.rtp.raleigh.ibm.com:9443/kc/SSTRRS_8.0.0/com.ibm.nodejs.zos.v8.doc/paxz.htm)
[code]

[2019-10-30 18:27] 1000TurquoisePogs commented on #142
@IgorTodorovskiIBM
I took a look at how 8.16.0 & 8.16.1 behaved without setting `__UNTAGGED_READ_MODE`, and with `BPXK_AUTOCVT` on. The result of what worked is attached here.
![image](https://user-images.githubusercontent.com/30730276/67886875-9d69e980-fb20-11e9-825e-afe24d80afae.png)

The 1047 encoding was done via PAX, which seems to handle binary-to-1047 better than FTP or iconv.
As implied, t

[2019-10-30 18:32] 1000TurquoisePogs commented on #142
Tagging files is a good idea, and we will do this.
But, @IgorTodorovskiIBM your tagging suggestions only work for files that are shipped or created manually. We need a way to tag files that the nodejs server creates at runtime. How can we do this?

We have REST apis that writes files to disk using `fs` (https://nodejs.org/api/fs.html)
It would be a very good idea to enhance `fs` or provide an IBM

[2019-11-05 14:43] IgorTodorovskiIBM commented on #142
Thanks @1000TurquoisePogs , that is a good suggestion.  We are considering writing an npm to expose such z/OS C LE functions as chtag.   Currently, you can use exec or spawn to execute /bin/chtag.

Eg:
[code]
-----
FYI. we have released an update to Node.js - z/OS - V8, the November PTF based on v8.16.2.  This reverts the untagged behaviour back to the original V6 behaviour (convert from 1047 to A

[2019-11-06 19:28] rc-matthew-l-weber opened #144 "PPC32 support"
I've got a older system with would like to run nodejs.  I've captured this ticket upstream but have a feeling I may need to start with this fork?

https://github.com/nodejs/node/issues/30323

[2019-11-06 19:46] richardlau commented on #144
The PPC code in this fork is no longer maintained as it was all merged back upstream years ago and development continues in the upstream repositories. (This fork remains for unmerged platforms such as z/OS.)

Copying from https://github.com/nodejs/node/issues/30323#issuecomment-550470163:

[2019-11-07 19:28] andrewlow commented on #144
The challenge isn't really about 32/64 bit - but the fact that many of the PPC flavours (e500 for example) have a radically different set of instructions for floating point support.

Node.js is deeply dependent on floating point instructions, and thus - is totally broken when you don't have them (or have the same ones we assumed in the PPC code base).

[2019-11-07 19:42] rc-matthew-l-weber commented on #144
Ok.  I'm willing to figure out the backend rewrites/additions for my flavour, any pointers or archtectures I could trace through the system looking at this problem?  Right now my issue is a padding assertion bug I note in my other ticket referenced above.  Trying to use PPC as my arch (32bit build)

[2019-11-07 22:35] john-yan commented on #144
All ppc related code is mostly under ppc directories. You can find them by “find src -name ppc”. As said 32 bit ppc is not supported anymore so any assumption could be false which leads to assertion failures.

[2019-11-08 02:34] andrewlow commented on #144
It's been a while since I was hacking on this code base. First off this issue is against the node repo, and most of the PPC specifics are going to be in the v8 implementation - which is in a different repository.

The PPC work was done here: https://github.com/ibmruntimes/v8ppc - but has since been merged into the main google code base https://github.com/v8/v8

You'll find the implementation here:

[2019-11-10 16:38] Menotdan opened #145 "Support for PPC 7447a (PowerBook G4 1.67GHz)"
I am trying to build Node natively on my PowerBook G4 1.67ghz but I'm having some problems with STATIC_ASSERTs, padding sizes, and kSmi sizes.

Also the floating point instructions may or may not work(I don't have a successful build yet, any information on whether or not the 7447a has the right floating point instructions would be appreciated)

Is it safe to remove the STATIC_ASSERTs? (I'm assumin

[2019-11-10 20:15] richardlau commented on #145
It most likely doesn't based on https://github.com/ibmruntimes/node/issues/14 and https://github.com/ibmruntimes/v8ppc/issues/97.

[2019-11-27 18:37] IgorTodorovskiIBM commented on #142
@1000TurquoisePogs, @Joe-Winchester  we have created an npm (mvsutils) that exposes the GetFileCcsid and SetFileCcsid interfaces (https://www.npmjs.com/package/mvsutils).  It works on Node v8 and Node v12

[2019-11-27 18:55] ccw-1 commented on #142
You can also fix untagg text file (created by npm with node version 6, that was actually in unicode, but hard converted by a 1-1 mapping to EBCDIC),  with this:
__UNTAGGED_READ_MODE=v6 node -e "require('fs').createReadStream('old.js').pipe(require('fs').createWriteStream('new.js'))"

[2019-12-12 13:28] shzhoujq opened #147 "Deprecation of IBM SDK for Node.js"
What does deprecating IBM SDK for Node.js mean for IBM SDK for Node.js - z/OS?

Note: This question has been migrated from the IBM DeveloperWorks community "IBM SDK for Node.js". It was originally posted on May 2, 2018 by user PhilSacchitella.

[2019-12-12 13:29] #147 closed, assigned to nobody

[2019-12-26 15:34] arrathin opened #149 "Building Nodejs for ppc e500"
I am trying to build node js for ppc 32. Though there is no official support, am giving a try since it is required for one of my platform. Can you please tell me if there is any known guide lines to build node js for ppc 32.

I did a hack and succeeded with build. However, the execution crashes with "ILLEGAL instruction" error.

Program received signal SIGILL, Illegal instruction.
[Switching to Th

[2019-12-26 15:35] arrathin commented on #149
Need your quick support for this issue.

[2019-12-27 05:17] arrathin commented on #149
@Wayne Zhang
 @IBM @ibmruntimes

[2019-12-28 11:04] gireeshpunathil commented on #138
for me, the link is not accessible.

[2019-12-28 12:31] richardlau commented on #138
I think https://www.ibm.com/support/knowledgecenter/SSTRRS_8.0.0/com.ibm.nodejs.zos.v8.doc/paxz.htm is the correct link.

[2019-12-30 14:21] jimmschlo89 opened #150 "Hi @mrmikopi, "your quote of a node issue""
Hi @mrmikopi, are missing PTF's the ONLY cause of the CXXRT64 issue? Or could there be another reason?

The missing CXXRT64 does seem to imply you are missing the pre-req LE PTF.  We unfortunately do not ship that LE library to STEPLIB to.  Any chance you can get the PTFs applied?

_Originally posted by @joransiu in https://github.com/ibmruntimes/node/issues/128#issuecomment-512934214_

[2019-12-30 20:48] #150 closed, assigned to nobody

[2019-12-31 05:18] shzhoujq commented on #147
While the IBM SDK for Node.js was deprecated for distributed systems, there is no change to "IBM SDK for Node.js - z/OS" which remains available as an SMP/E edition with optional IBM support and a PAX edition. 
Want to use IBM SDK for Node.js - z/OS? You can try it for free, or purchase the full edition which includes IBM support. Find out more [here](https://www.ibm.com/us-en/marketplace/sdk-node

[2019-12-31 05:21] shzhoujq opened #151 "Commercial support for Node.js"
Is there a plan for a Node.js "free" or "community" run-time for indefinite use on z/OS apart from the full "SDK" and paid support option? 

Note: This question has been migrated from the IBM DeveloperWorks community "IBM SDK for Node.js". It was originally posted on Nov 17, 2017 by user Paul Ivinson.

[2019-12-31 05:21] shzhoujq commented on #151
IBM is investing in Node.js on z/OS with plans to stay current with the Node.js community.
IBM SDK for Node.js -z/OS, V12 is available at no charge with optional priced S&S. See the following blog on the various ways to get Node.js -z/OS at no charge:
https://developer.ibm.com/mainframe/2019/04/17/ibm-sdk-for-node-js-z-os-at-no-charge/
Also, IBM SDK for Node.js -z/OS, V12 can be downloaded at: htt

[2019-12-31 05:23] #151 closed, assigned to nobody

[2019-12-31 05:26] shzhoujq opened #152 "Any difference between the Node.js versions?"
Regarding IBM Node.js, I see for Zowe there is a free Node.js (node 6.14.4) available as z/OS UNIX installable pax file and there is another SDK for Node.js - z/OS available on IBM Marketplace, I would like to know is there any difference between there two software. Actually it is confusing when it comes to use Zowe node.js and Node.js SDK. Is it ok to go with Zowe node.js for CICS IVP support or

[2019-12-31 05:26] shzhoujq commented on #152
The IBM SDK for Node.js - z/OS available from Shopz and the pax version available from the IBM Marketplace are the same software, but the packaging is different. The SMP/E version is available from Shopz, while the pax version can be downloaded from the IBM Marketplace. Both are available to download at no charge, but the SMP/E version is available with optional priced IBM support.  Either format

[2019-12-31 05:26] #152 closed, assigned to nobody

[2019-12-31 05:29] shzhoujq opened #153 "npm install fails with: FSUM3228 njsc++: Input file /ERSION/usr/lpp/IBM/node/node-v6.14.3-os390-s390x/lib/libnode.x not found"
I tried to install npm  vsam.js package on my zOS 2.3 with nodejs 6.14.3 and npm 3.10.10, and i got the following error messages:

Ê-ÀÑÊÁÄÈ?Ê`--make: Entering directory '/u/prichar/github/vsam.js/build'
CXX(target) Release/obj.target/vsam.js/vsam.o
CXX(target) Release/obj.target/vsam.js/VsamFile.o
SOLINK_MODULE(target) Release/obj.target/vsam.js.node
FSUM3228 njsc++: Input file /ERSION/usr/lpp/IBM

[2019-12-31 05:37] shzhoujq commented on #153
This issue is addressed in the latest version that is available for download at https://www.ibm.com/us-en/marketplace/sdk-nodejs-compiler-zos. If you are on V6, the PTF that fixes this problem is [PTF UI58997](https://www-01.ibm.com/support/docview.wss?uid=swg1PH03721). 

[2019-12-31 05:40] #153 closed, assigned to nobody

[2019-12-31 05:42] shzhoujq opened #154 "Is anyone working with libuv on z/OS?"
I've been doing some testing on the z/OS port of libuv, from https://github.com/ibmruntimes/libuv/tree/v1.x-zos. I've run into several minor problems, and I'm wondering if anyone else is actively working with this code. If so, should we consider creating a libuv forum? 
Here are the issues I've encountered: 
It's hard to build. I couldn't put myself through the pain of spinning up autoconf on z/OS

[2019-12-31 05:42] shzhoujq commented on #154
The official libuv v1.x branch has now accepted the z/OS port, and can be built on z/OS. libuv v1.x is available at https://github.com/libuv/libuv/.

[2019-12-31 05:43] #154 closed, assigned to nobody

[2020-01-02 07:45] arrathin commented on #149
@joransiu

[2020-01-02 07:48] arrathin commented on #149
Guys, Could you please suggest your tough on this issue.

[2020-01-02 13:18] richardlau commented on #149
I’d suggest looking at https://github.com/nodejs/node/issues/30323 for what others have tried so far.

[2020-01-07 02:56] shzhoujq opened #155 "Problem when running a node.js "hello world" application"
When I try to run a node.js "hello world" application, a file containing: 
[code]

`node script.js` seems to hang.

Are there any other places or suggestions for getting past this "hang" problem?

Note: This question has been migrated from the IBM DeveloperWorks community "IBM SDK for Node.js". It was originally posted on Jun 23, 2017 by user dkelosky.

[2020-01-07 03:04] shzhoujq commented on #155
This problem should no longer be reproducible with SDK for Node.js - z/OS V6, V8, or V12.

Please make sure that the address space is at least 700MB. This is the minimum requirement. See https://www.ibm.com/support/knowledgecenter/en/SSTRRS_12.0.0/com.ibm.nodejs.zos.v12.doc/limitation.htm.
This may have been the cause of your problem in previous releases of Node.js on z/OS (V6), but with the curre

[2020-01-07 03:04] #155 closed, assigned to nobody

[2020-01-29 18:31] TerriMenchak opened #157 "ZOWE Started Task fails to connect to server using Node.js"
**Client Concerns/Problem**
(Node.js V12, z.OS V2.2, ZOWE V1.7.0) After starting up the ZOWESVR subsystem for ZOWE, the customer sees error messages in the ZOWE started task output that seem to be related to Node.js.

Error 0: Could not contact z/OS MF on 'https://nag4.bhsbx.ibm.com:3443/zosmf/info';; -
Error 2: Could not contact z/OS MF on 'https://nag4.bhsbx.ibm.com:3443/zosmf/info';; -

There i

[2020-01-29 18:47] IgorTodorovskiIBM commented on #157
Based on your description, particularly, "it receives something else, which is not even readable, and prints the error message."
I suspect an encoding issue, you likely need to set these environment variables:
[code]
in the `/scripts/utils/validate-zosmf-host-and-port.sh` script.

I believe the Zowe team was making changes in this regard.  Kathy Chan was looking into it.

[2020-03-11 16:36] vganich opened #161 "Starting Node.js process manager pm2 causes an ABEND."
We found the issue with IBM SDK for Node.js for z/OS after upgrade to V12.

Specifically, the user had  been encountering problem starting  Node.js process manager pm2.

[2020-03-11 17:30] sam-github commented on #161
Upgrade from what to v12?

What issues? Logs would be useful here.

How to reproduce?

[2020-03-11 17:45] IgorTodorovskiIBM commented on #161
This is a z/OS specific issue.

pm2 no longer works with Node v12 - z/OS

The symptom is a hang, reproducible by running these steps:

mkdir defectproj && cd defectproj
npm init --yes
npm install pm2
./node_modules/pm2/bin/pm2 --help
Result is:

...
[PM2] Spawning PM2 daemon with pm2_home=/home/itodoro/.pm2
(hangs)
...
Further inspection reveals that pm2 stores a log file in $HOME/.pm2/pm2.log, wh

[2020-03-11 17:45] IgorTodorovskiIBM commented on #161
We have a fix that we will be releasing in our next PTF

[2020-04-17 18:26] IgorTodorovskiIBM commented on #161
Fix is available in the April 2020 PTF: https://www.ibm.com/support/pages/fix-list-ibm-sdk-nodejs-zos#030420

[2020-04-21 04:21] ghost opened #162 "how to install on ppc7400 (OS X 10.4)"
Has there been any successful versions or builds working on a PowerPC G4 Mac running Mac OS X? If so, where do I find this version and how do I build it, or where can I get binaries? I'll take any version of Node.js.

[2020-04-22 18:43] 1000TurquoisePogs commented on #157
I think this one can be closed, because zowe did not support node v12 until version 1.9, which includes those environment variables by default. It should work these days.

[2020-04-22 18:54] 1000TurquoisePogs opened #163 "process.title and --title don't do anything"
Version: 6.17.0, 8.16.2, and 12.16.1
Platform: z/OS 2.4
Subsystem: process

For Zowe, I'm looking to have the process name match the component name, as seen in https://github.com/zowe/zlux-server-framework/pull/188 and https://github.com/zowe/zlux-app-server/pull/109
Apparently `--title` on the command line is an option, but only was introduced in v10, and seems to not work on 12.16.1
So, I wanted

[2020-04-24 22:10] mhdawson commented on #162
There is no available version for that platform.

[2020-04-27 12:48] andrewlow commented on #162
The core challenge here is that different version of the PowerPC chip implementation have different FPU instructions. This drift in CPU implementation makes the V8 implementation (which is effectively a compiler) problematic.

Javascript really like floating point, like.. a lot.

To fix this - someone needs to crawl through the floating point issues and (conditionally) reimplement those parts to f

[2020-05-26 15:39] #128 closed, assigned to nobody

[2020-05-27 15:06] #157 closed, assigned to IgorTodorovskiIBM

[2020-05-27 15:06] #161 closed, assigned to nobody

[2020-05-27 15:07] IgorTodorovskiIBM commented on #142
Solution was provided, closing issue

[2020-05-27 15:07] #142 closed, assigned to nobody

[2020-05-27 15:08] IgorTodorovskiIBM commented on #138
@kashifzowe , is this still an issue for you?

[2020-05-27 15:09] IgorTodorovskiIBM commented on #137
@Rajeckum , please verify if this is still an issue.  We have made updates since v8.16.0 which address how memory allocation is handled.

[2020-07-28 13:02] #138 closed, assigned to nobody

[2020-07-28 13:03] #137 closed, assigned to nobody

[2020-07-28 13:04] IgorTodorovskiIBM commented on #125
@yugeshpothuru  is this still an issue for you?

[2020-07-28 13:08] IgorTodorovskiIBM commented on #124
@yugeshpothuru is this still an issue for you?

[2020-07-28 13:19] IgorTodorovskiIBM commented on #119
@johnottogood , is still an issue for you?

We changed the implementation in Node v12+ to use pipes for interprocess communication so autoconversion now works in this case.

[2020-07-28 13:36] #111 closed, assigned to nobody

[2020-07-29 03:02] yugeshpothuru commented on #125
Nope. It is resolved.

Yugesh

[2020-08-25 12:54] IgorTodorovskiIBM commented on #163
Unfortunately, setproctitle is not implemented on z/OS.   One alternative is to use or generate a symbolic link `ln -s node zowe-node` and invoke `zowe-node`.

[2020-10-01 15:29] 1000TurquoisePogs commented on #163
Thank you. That's an interesting alternative. I would really like & hope that z/OS does support this ability some day, but understand that's not at the node level so closing for now.

[2020-10-01 15:29] #163 closed, assigned to nobody

[2020-10-02 17:34] rpenny125 opened #164 "trouble with node-report with node 12.14.1 on z/OS"
* **Version**:  v12.14.1
* **Platform**: OS/390 RS28 27.00 04 8561
* **Subsystem**:

Problem:
1. I'm trying to find tools that helps diagnose "apparent loops" in node on z/OS. Specifically, I'd like to be able to see the javascript stack, *either* from a running node process on z/OS, or from a system dump of the address space (the latter would be a "node" equivalent of the java tool jdmpview)
2. I

[2020-10-22 19:21] ind1go opened #165 "bufferutil fails to build on z/OS (no such file or directory, uv_cwd)"
* **Version**:  v12.13.0
* **Platform**: OS/390 MV28 26.00 04 3906
* **Subsystem**:

The module `bufferutil` is fairly heavily used by Websockets clients in Node.js.

It fails to build on z/OS, during node-gyp.

[code]

[2020-10-23 20:43] IgorTodorovskiIBM commented on #165
Can you check if `/ZOS203` is a symlink.
[code]
If so, there is a fix for this in v12.16.1 and above.

[2020-10-24 20:54] ind1go commented on #165
Hi @IgorTodorovskiIBM, thanks for getting back.

Unfortunately not:

[code]

I then ran explicitly with the latest Node version we have, too (didn't realise that our 'latest' symlink is not up-to-date!):

[code]

[2020-10-26 13:43] IgorTodorovskiIBM commented on #165
Hmm, I see `/ZOS203/usr/lpp/IBM/cnj/v12r0/IBM/node-v12.13.0-os390-s390x/bin/node` in the output.

If you set:
[code]
and then run `npm install` does it work?

[2020-10-26 14:34] ind1go commented on #165
You're right, seeing v12.18.0 _and_ v12.13.0 is unexpected...

Unfortunately I think it's the same when consistently using v12.18.0 throughout.

[code]

[2020-10-26 14:45] IgorTodorovskiIBM commented on #165
Ok, it seems /usr is a symbolic link to /ZOS203.   Just to rule it out, does `export PATH="/ZOS203/usr/lpp/IBM/cnj/v12r0/IBM/node-v12.18.0-os390-s390x/bin/:$PATH"` help?

uv_cwd calls the c function getcwd() to get the current working dir.  What is your current working dir?  Is there anything unusual about it?  Is there a symlink to an environment variable?  Is it a mounted location?

If you do `r

[2020-10-26 15:11] ind1go commented on #165
Here we go with that export:

[code]

You're right about that symlink from `/usr`:

[code]

Regarding the CWD: I've not redacted the output this time so you can see where the project is, and I'm running the command from the root of the project, i.e /u/bencox/bufferutil-test. There are no symlinks in that path. In terms of whether it's a mounted location... I'm not sure I rightly know the answer to

[2020-10-27 22:27] IgorTodorovskiIBM commented on #165
Ok, `npm install` executes `node-gyp.js rebuild`, which perform `node-gyp clean` first and is attempting to remove the `build` dir, but it appears to be failing on `process.cwd`.  This could be a file system related issue.

My guess is that if you run: `node-gyp clean` under `node_modules/bufferutil` you will be able reproduce it.

Are you able to run `npm install` in another file system, such as

[2020-10-27 23:54] ind1go commented on #165
I struggled to do as instructed (run `node-gyp clean` under `node_modules/bufferutil`) because that directory didn't already exist. I thought it may be interesting to you to know the content of `node_modules` immediately after running `npm install -S bufferutil` as it looks fairly inconsistent to me:

[code]

And what's in `.bin`?

[code]

So none of those symlinks have their target available.

--

[2020-10-28 02:01] ind1go commented on #165
FWIW I'm able to remote debug using VSCode, right to the line in node-gyp where it goes wrong - except of course it dives into the natives and then libuv. Let me know if there's something I can look out for or trigger while debugging that will help to work out what the issue is.

[2020-10-28 20:02] IgorTodorovskiIBM commented on #165
Regarding `FSUM3224 njsc: Fatal error in /usr/lpp/IBM/cnj/v12r0/njsc/exe/cnjdrvr: signal 9 received.`

cnjdrvr is an external link to CNJDRVR which is a member in the C/C++ compiler PDS.  You can find your compiler PDS if you `grep steplib` in your njsc.cfg.  Does your userid have read access to that PDS or does it even exist? The default dataset is CBC.HAL9C00.SCNJCMP.
More details here on the co

[2020-10-28 22:20] ind1go commented on #165
[code]

That library doesn't exist, but I think `PP.NODEJS.V120.SCNJCMP` is probably the analog on our systems so I'll raise a ticket to get `njsc.cfg` updated - thank you. The info from the program directory doesn't appear in the Knowledge Center and the references to the PD are pretty easy to miss, so I think that's been neglected.

I tried adding `PP.NODEJS.V120.SCNJCMP` to my $STEPLIB env var

[2020-11-03 05:05] jhamby commented on #30
Hi @KungFuJesus @joransiu ,

I found this bug while searching for "friz" because I just ran into this very issue trying to bootstrap Node.js in Gentoo Linux on a PowerMac G5 (ppc64). I'll work on my own fallback patch based on the comments in this thread.

I also wanted to note that ppc64 big-endian is ELFv1, which uses function descriptors, so I had to make a few small local patches (which I'll m

[2020-11-03 16:10] shawnanastasio commented on #30
It's worth noting that this is not always true - only legacy distributions continue to use ELFv1 on BE. Modern distributions like void-ppc and all musl-based distributions like Adélie always use ELFv2, regardless of endianness. I believe there are plans for Gentoo to publish an ELFv2 stage3 tarball for BE as well too.

[2020-11-05 03:13] jhamby commented on #30
That's very interesting to know, thanks! It's very awkward to transition, though, if you can't have both types on the same system disk at the same time. I know there aren't a lot of precompiled binaries for Linux/ppc, but if there's no good multilib solution to have ELFv1 and ELFv2 libraries at the same time, it seems problematic.

I'll definitely keep an eye on void-ppc.

[2020-11-05 03:19] jhamby commented on #30
I'm just about to test a patch I've been working on to hopefully tell V8 not to generate the FP rounding instructions if the CPU doesn't support them. First I worked on extending a patch I got from @awilfox to generate a fallback code sequence, but it ended up having branches and looked ugly and I'm not sure it's correct. Then today I realized that the x64 backend sets the flags for `kFloat32Round

[2020-11-05 03:23] KungFuJesus commented on #30
Awesome - compiling this JIT even in emulation mode has confounded my ability to build firefox (not sure why node.js for firefox became a thing) for a while.

[2020-11-05 04:39] miladfarca commented on #30
Hello, as a reference I just wanted to point out a similar PR we had on nodjes regarding ppc64 ELFv1 and function descriptors:
https://github.com/nodejs/node/pull/33866
Above PR was added to V8 using this CL:
https://chromium-review.googlesource.com/c/v8/v8/+/2248202

[2020-11-06 03:55] jhamby commented on #30
Ok, I have an initial PR that solves the codegen problem by setting the CPU flags to not generate the instructions when it doesn't have them. I'm still testing it, but I'm happy to share and get feedback, especially to make sure it doesn't break the newer systems. I noticed the CPU detection logic wasn't setting the feature flags for POWER9, and it looked to me like it should be setting everything

[2020-11-06 22:10] kridency commented on #30
Wonder what value kMaxRegularHeapObjectSize  should take if patch narrowing page size? Or it has no effect.

[2020-12-03 19:04] 1000TurquoisePogs commented on #127
I think you can close this, it's a zowe issue instead of a nodejs issue.
The reason it occurs is app-server continually tries to connect to apiml, but starts up quicker than apiml, so there will be a few failed attempts before eventual success with the eureka request.

[2021-01-06 04:35] KungFuJesus commented on #30
[code]
Promising so far (before vs after patch).  I'll do a bit more testing - is there anything simple I should try in the interpreter?

[2021-03-05 13:49] guruchauhan2 commented on #90
This worked for me ..
try updating the npm-cli.js script to point at `/bin/env' unless you have any other ideas.

[2021-03-05 13:50] guruchauhan2 commented on #90
but getting --
npm ERR! code UNABLE_TO_GET_ISSUER_CERT_LOCALLY
npm ERR! errno UNABLE_TO_GET_ISSUER_CERT_LOCALLY
npm ERR! request to https://registry.npmjs.org/express failed, reason: unable to get local issuer certificate

npm ERR! A complete log of this run can be found in:
npm ERR!     /u/tsuf70f/.npm/_logs/2021-03-05T13_45_52_651Z-debug.log

[2021-03-05 16:37] zsw007 commented on #90
Hi, v6 is out of service. We suggest upgrading to IBM SDK for Node .js - z/OS 14.0.

[2021-10-13 04:58] prab99 opened #166 "FSUMF061 Cannot format"
my zos 2.3 install of node.js is
bash-4.3$ node --version
v14.17.2
bash-4.3$ npm --version
6.14.13

but
bash-4.3$ npm help config
FSUMF061 Cannot format /Service/Node.js/usr/lpp/IBM/cnj/v14r0/IBM/node-v14.17.2-os390-s390x-202108041707/lib/node_modules/npm/man/man1/npm-config.1
bash-4.3$
(same  error with omvs default /bn/sh shell)
is there any recommended way to fix this issue.
-->

[2021-10-13 15:10] barracuda156 commented on #14
Any solution to build nodejs for PowerPC G5?

[2021-10-13 15:24] andrewlow commented on #14
Probably no. The root cause here is that there are many variations of the PPC chips out there - and one area where the variations differ is their FPU implementation. Consider the previously linked issue: https://github.com/ibmruntimes/v8ppc/issues/97 - while this may not be specific to the G5 - a similar problem will happen.

Unless we find someone who has the right motivation, time and skills to

[2021-10-15 06:19] alexcfyung commented on #166
it is because z/OS man cannot read this format of man page, but the documentation should be same as upstream and searchable on the npm site